In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle
from tqdm import tqdm
import os
import networkx as nx

In [2]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
aliases = pd.read_csv('data/item_aliases.csv')
property = pd.read_csv('data/property.csv')
wiki_items = pd.read_csv('data/wiki_items.csv')

In [3]:
statements = pd.read_csv('data/statements.csv')
enwinki_redirects = pd.read_csv('data/enwiki_redirects.tsv', sep='\t')

In [4]:
statements

          source_item_id  edge_property_id  target_item_id
0                      1               398          497745
1                      1               398         1133705
2                      1               398         1139177
3                      1               398         7439451
4                      1               398        15241043
...                  ...               ...             ...
26903183        77240068                31           16970
26903184        77240068               131           23556
26903185        77242291                17             145
26903186        77242291               131           23311
26903187        77242291               466         1537151

[26903188 rows x 3 columns]

In [5]:
display(statements.iloc[0])

source_item_id           1
edge_property_id       398
target_item_id      497745
Name: 0, dtype: int64

In [6]:
aliases

          item_id                                           en_alias
0               1                                       Our Universe
1               1                                       The Universe
2               1                                         The Cosmos
3               1                                             cosmos
4               2                                        Blue Planet
...           ...                                                ...
1495310  76858465  Photinus luciferin 4-monooxygenase (adenosine ...
1495311  76858465                                 firefly luciferase
1495312  76868858                               12 Canum Venaticorum
1495313  76868858                            Alpha Canum Venaticorum
1495314  76955532                                             Meleph

[1495315 rows x 2 columns]

In [7]:
wiki_items

,item_id,en_label,en_description,wikipedia_title
0,1,Universe,totality of space and all contents,Universe
1,2,Earth,third planet from the Sun in the Solar System,Earth
2,3,life,matter capable of extracting energy from the e...,Life
3,4,death,permanent cessation of vital functions,Death
4,5,human,"common name of Homo sapiens, unique extant spe...",Human
...,...,...,...,...
5216231,77042017,HR 4523,NaN,HD 102365
5216232,77043280,Charlie Johnston,NaN,Charlie Johnstone
5216233,77231860,Aldo Rossi,musician,Aldo Rossi (musician)
5216234,77240068,Ebenezer Baptist Church,"church in Atlanta, Georgia, USA",Ebenezer Baptist Church
5216235,77242291,New Court,"group of buildings in City of London, UK",New Court

In [8]:
statements

          source_item_id  edge_property_id  target_item_id
0                      1               398          497745
1                      1               398         1133705
2                      1               398         1139177
3                      1               398         7439451
4                      1               398        15241043
...                  ...               ...             ...
26903183        77240068                31           16970
26903184        77240068               131           23556
26903185        77242291                17             145
26903186        77242291               131           23311
26903187        77242291               466         1537151

[26903188 rows x 3 columns]

In [9]:
def to_edge(row):
    print(row)
    return (row['source_item_id'], row['target_item_id'])

In [10]:
edges = statements[['source_item_id', 'target_item_id']].values
edges

array([[       1,   497745],
       [       1,  1133705],
       [       1,  1139177],
       ...,
       [77242291,      145],
       [77242291,    23311],
       [77242291,  1537151]])

In [11]:
#Takes 44 seconds.
# Create a generator for edges
edge_generator = ((row[0], row[1]) for row in edges)

# Create a graph with these edges
G = nx.Graph()
G.add_edges_from(edge_generator)

In [12]:
#non_na = test[~test.wiki_url.isna()]

In [13]:
#test

,id,token,entity_tag,full_mention,wiki_url
0,0,-DOCSTART- (947testa CRICKET),NaN,NaN,NaN
1,1,CRICKET,NaN,NaN,NaN
2,2,-,NaN,NaN,NaN
3,3,LEICESTERSHIRE,B,LEICESTERSHIRE,?
4,4,TAKE,NaN,NaN,NaN
...,...,...,...,...,...
104885,104885,brother,NaN,NaN,NaN
104886,104886,",",NaN,NaN,NaN
104887,104887,Bobby,B,Bobby,?
104888,104888,.,NaN,NaN,NaN
104889,104889,NaN,NaN,NaN,NaN

In [14]:
def find_doc_range(df):
    def check_docstart(row):
        # This function returns the 'id' if 'token' contains 'DOCSTART', otherwise NaN
        if pd.notnull(row['token']) and 'DOCSTART' in row['token']:
            return True
        else:
            return False # Using pandas NA to handle missing values

    # Apply the function across the DataFrame.
    data = df.copy()
    data['docstart_id'] = df.apply(check_docstart, axis=1)
    start_ids = data[data['docstart_id']]['id'].values
    print(len(start_ids))
    end_ids = start_ids[1:] - 1
    end_ids = np.append(end_ids,len(df))
    docs_range = zip(start_ids, end_ids)
    return docs_range

In [15]:
def compute_distance(G, possible_vertices, document_vertices):
    """
    Computes the shortest path distance from each vertex in possible_vertices
    to each vertex in document_vertices in the graph G.

    Parameters:
    G (nx.Graph): The graph containing the vertices.
    possible_vertices (list): A list of vertices from which distances are calculated.
    document_vertices (list): A list of vertices representing the document.

    Returns:
    dict: A dictionary where keys are vertices from possible_vertices and values
    are dictionaries with document vertices as keys and distances as values.
    """
    distances = {}
    for vertex in possible_vertices:
        distances[vertex] = {}
        for doc_vertex in document_vertices:
            try:
                # Compute the shortest path length
                distance = nx.shortest_path_length(G, source=vertex, target=doc_vertex)
                distances[vertex][doc_vertex] = distance
            except nx.NetworkXNoPath:
                # In case there is no path between vertex and doc_vertex
                distances[vertex][doc_vertex] = float('inf')
    return distances

In [16]:
test_df_mod = test.copy(deep=True)
train_df_mod = train.copy(deep=True)
URL = 'http://en.wikipedia.org/wiki/'
merged_wiki_items = wiki_items.merge(aliases, how='left', on='item_id')
merged_wiki_items['en_alias'] = merged_wiki_items['en_alias'].str.lower()
merged_wiki_items

,item_id,en_label,en_description,wikipedia_title,en_alias
0,1,Universe,totality of space and all contents,Universe,our universe
1,1,Universe,totality of space and all contents,Universe,the universe
2,1,Universe,totality of space and all contents,Universe,the cosmos
3,1,Universe,totality of space and all contents,Universe,cosmos
4,2,Earth,third planet from the Sun in the Solar System,Earth,blue planet
...,...,...,...,...,...
5853141,77042017,HR 4523,NaN,HD 102365,NaN
5853142,77043280,Charlie Johnston,NaN,Charlie Johnstone,NaN
5853143,77231860,Aldo Rossi,musician,Aldo Rossi (musician),NaN
5853144,77240068,Ebenezer Baptist Church,"church in Atlanta, Georgia, USA",Ebenezer Baptist Church,NaN
5853145,77242291,New Court,"group of buildings in City of London, UK",New Court,NaN

In [17]:
for index, row in tqdm(test_df_mod.iterrows(), total=test_df_mod.shape[0]):
    if str(row['wiki_url']) == 'nan' or row['wiki_url'] != '?':
        continue
        
    token = row['full_mention']
    train_url = train_df_mod[train_df_mod['full_mention'] == token]['wiki_url'].values
    
    if len(train_url) > 0:
        test_df_mod.at[index, 'wiki_url'] = train_url[0]
        
    else:
        wiki_title = merged_wiki_items[merged_wiki_items['en_alias'] == token]['wikipedia_title'].values
        
        if len(wiki_title) > 0:
            test_df_mod.at[index, 'wiki_url'] = URL + wiki_title[0].replace(' ', '_')

100%|██████████| 104890/104890 [04:12<00:00, 415.86it/s]

In [18]:
try:
    test_df_mod = pd.read_pickle('pkl/' + 'opti_test_df.pkl')
except:
    # Load data from csv
    test_df_mod.to_pickle('pkl/' + 'opti_test_df.pkl')

In [19]:
(test_df_mod['wiki_url'] == '?').sum()

2759

In [20]:
non_na_test = test_df_mod[~test_df_mod.wiki_url.isna()]

In [21]:
test_doc_range =  find_doc_range(test)

for start, end in test_doc_range:
    current_doc = non_na_test[(non_na_test.id >= start) & (non_na_test.id <= end)]
    not_found = current_doc[current_doc['wiki_url'] == '?']
    found = current_doc[current_doc['wiki_url'].str.startswith('http')]
    if end < 500:
        display(current_doc)
        display(not_found)
        display(found)

447

,id,token,entity_tag,full_mention,wiki_url,wikipedia_title
3,3,LEICESTERSHIRE,B,LEICESTERSHIRE,?,NaN
13,13,LONDON,B,LONDON,http://en.wikipedia.org/wiki/London,NaN
16,16,West,B,West Indian,?,NaN
19,19,Phil,B,Phil Simmons,?,NaN
28,28,Leicestershire,B,Leicestershire,http://en.wikipedia.org/wiki/Leicestershire_Co...,NaN
30,30,Somerset,B,Somerset,http://en.wikipedia.org/wiki/Somerset_County_C...,NaN
65,65,Essex,B,Essex,http://en.wikipedia.org/wiki/Essex_County_Cric...,NaN
67,67,Derbyshire,B,Derbyshire,http://en.wikipedia.org/wiki/Derbyshire_County...,NaN
69,69,Surrey,B,Surrey,http://en.wikipedia.org/wiki/Surrey_County_Cri...,NaN
76,76,Kent,B,Kent,http://en.wikipedia.org/wiki/Kent_County_Crick...,NaN
87,87,Nottinghamshire,B,Nottinghamshire,http://en.wikipedia.org/wiki/Nottinghamshire_C...,NaN
92,92,Somerset,B,Somerset,http://en.wikipedia.org/wiki/Somerset_County_C...,NaN
101,101,Grace,B,Grace Road,?,NaN
104,104,Leicestershire,B,Leicestershire,http://en.wikipedia.org/wiki/Leicestershire_Co...,NaN
119,119,England,B,England,http://en.wikipedia.org/wiki/England,NaN
121,121,Andy,B,Andy Caddick,http://en.wikipedia.org/wiki/Andrew_Caddick,NaN
133,133,Somerset,B,Somerset,http://en.wikipedia.org/wiki/Somerset_County_C...,NaN
143,143,Simmons,B,Simmons,?,NaN
154,154,Essex,B,Essex,http://en.wikipedia.org/wiki/Essex_County_Cric...,NaN
166,166,Nasser,B,Nasser Hussain,http://en.wikipedia.org/wiki/Nasser_Hussain,NaN
169,169,Peter,B,Peter Such,?,NaN
180,180,Yorkshire,B,Yorkshire,http://en.wikipedia.org/wiki/Yorkshire_County_...,NaN
182,182,Headingley,B,Headingley,http://en.wikipedia.org/wiki/Headingley_Stadium,NaN
185,185,Hussain,B,Hussain,http://en.wikipedia.org/wiki/Nasser_Hussain,NaN
190,190,England,B,England,http://en.wikipedia.org/wiki/England,NaN
207,207,Essex,B,Essex,http://en.wikipedia.org/wiki/Essex_County_Cric...,NaN
223,223,Yorkshire,B,Yorkshire,http://en.wikipedia.org/wiki/Yorkshire_County_...,NaN
233,233,Such,B,Such,?,NaN
262,262,Oval,B,Oval,http://en.wikipedia.org/wiki/The_Oval,NaN
264,264,Surrey,B,Surrey,http://en.wikipedia.org/wiki/Surrey_County_Cri...,NaN
266,266,Chris,B,Chris Lewis,http://en.wikipedia.org/wiki/Chris_Lewis_(cric...,NaN
273,273,England,B,England,http://en.wikipedia.org/wiki/England,NaN
299,299,Warwickshire,B,Warwickshire,http://en.wikipedia.org/wiki/Warwickshire_Coun...,NaN
307,307,England,B,England,http://en.wikipedia.org/wiki/England,NaN
309,309,Mark,B,Mark Butcher,?,NaN
315,315,Surrey,B,Surrey,http://en.wikipedia.org/wiki/Surrey_County_Cri...,NaN
328,328,Derbyshire,B,Derbyshire,http://en.wikipedia.org/wiki/Derbyshire_County...,NaN
342,342,Worcestershire,B,Worcestershire,http://en.wikipedia.org/wiki/Worcestershire_Co...,NaN
363,363,Australian,B,Australian,http://en.wikipedia.org/wiki/Australia,NaN
364,364,Tom,B,Tom Moody,?,NaN
371,371,Chris,B,Chris Adams,?,NaN
377,377,Tim,B,Tim O'Gorman,--NME--,NaN
378,378,O'Gorman,I,Tim O'Gorman,--NME--,NaN
383,383,Derbyshire,B,Derbyshire,http://en.wikipedia.org/wiki/Derbyshire_County...,NaN
412,412,Kent,B,Kent,http://en.wikipedia.org/wiki/Kent_County_Crick...,NaN
419,419,Nottinghamshire,B,Nottinghamshire,http://en.wikipedia.org/wiki/Nottinghamshire_C...,NaN
433,433,Paul,B,Paul Johnson,http://en.wikipedia.org/wiki/Paul_Johnson_(squ...,NaN
436,436,ex-England,B,ex-England,--NME--,NaN
439,439,Martin,B,Martin McCague,?,NaN
449,449,Kent,B,Kent,http://en.wikipedia.org/wiki/Kent_County_Crick...,NaN

      id           token entity_tag    full_mention wiki_url  wikipedia_title
3      3  LEICESTERSHIRE          B  LEICESTERSHIRE        ?              NaN
16    16            West          B     West Indian        ?              NaN
19    19            Phil          B    Phil Simmons        ?              NaN
101  101           Grace          B      Grace Road        ?              NaN
143  143         Simmons          B         Simmons        ?              NaN
169  169           Peter          B      Peter Such        ?              NaN
233  233            Such          B            Such        ?              NaN
309  309            Mark          B    Mark Butcher        ?              NaN
364  364             Tom          B       Tom Moody        ?              NaN
371  371           Chris          B     Chris Adams        ?              NaN
439  439          Martin          B  Martin McCague        ?              NaN

,id,token,entity_tag,full_mention,wiki_url,wikipedia_title
13,13,LONDON,B,LONDON,http://en.wikipedia.org/wiki/London,NaN
28,28,Leicestershire,B,Leicestershire,http://en.wikipedia.org/wiki/Leicestershire_Co...,NaN
30,30,Somerset,B,Somerset,http://en.wikipedia.org/wiki/Somerset_County_C...,NaN
65,65,Essex,B,Essex,http://en.wikipedia.org/wiki/Essex_County_Cric...,NaN
67,67,Derbyshire,B,Derbyshire,http://en.wikipedia.org/wiki/Derbyshire_County...,NaN
69,69,Surrey,B,Surrey,http://en.wikipedia.org/wiki/Surrey_County_Cri...,NaN
76,76,Kent,B,Kent,http://en.wikipedia.org/wiki/Kent_County_Crick...,NaN
87,87,Nottinghamshire,B,Nottinghamshire,http://en.wikipedia.org/wiki/Nottinghamshire_C...,NaN
92,92,Somerset,B,Somerset,http://en.wikipedia.org/wiki/Somerset_County_C...,NaN
104,104,Leicestershire,B,Leicestershire,http://en.wikipedia.org/wiki/Leicestershire_Co...,NaN
119,119,England,B,England,http://en.wikipedia.org/wiki/England,NaN
121,121,Andy,B,Andy Caddick,http://en.wikipedia.org/wiki/Andrew_Caddick,NaN
133,133,Somerset,B,Somerset,http://en.wikipedia.org/wiki/Somerset_County_C...,NaN
154,154,Essex,B,Essex,http://en.wikipedia.org/wiki/Essex_County_Cric...,NaN
166,166,Nasser,B,Nasser Hussain,http://en.wikipedia.org/wiki/Nasser_Hussain,NaN
180,180,Yorkshire,B,Yorkshire,http://en.wikipedia.org/wiki/Yorkshire_County_...,NaN
182,182,Headingley,B,Headingley,http://en.wikipedia.org/wiki/Headingley_Stadium,NaN
185,185,Hussain,B,Hussain,http://en.wikipedia.org/wiki/Nasser_Hussain,NaN
190,190,England,B,England,http://en.wikipedia.org/wiki/England,NaN
207,207,Essex,B,Essex,http://en.wikipedia.org/wiki/Essex_County_Cric...,NaN
223,223,Yorkshire,B,Yorkshire,http://en.wikipedia.org/wiki/Yorkshire_County_...,NaN
262,262,Oval,B,Oval,http://en.wikipedia.org/wiki/The_Oval,NaN
264,264,Surrey,B,Surrey,http://en.wikipedia.org/wiki/Surrey_County_Cri...,NaN
266,266,Chris,B,Chris Lewis,http://en.wikipedia.org/wiki/Chris_Lewis_(cric...,NaN
273,273,England,B,England,http://en.wikipedia.org/wiki/England,NaN
299,299,Warwickshire,B,Warwickshire,http://en.wikipedia.org/wiki/Warwickshire_Coun...,NaN
307,307,England,B,England,http://en.wikipedia.org/wiki/England,NaN
315,315,Surrey,B,Surrey,http://en.wikipedia.org/wiki/Surrey_County_Cri...,NaN
328,328,Derbyshire,B,Derbyshire,http://en.wikipedia.org/wiki/Derbyshire_County...,NaN
342,342,Worcestershire,B,Worcestershire,http://en.wikipedia.org/wiki/Worcestershire_Co...,NaN
363,363,Australian,B,Australian,http://en.wikipedia.org/wiki/Australia,NaN
383,383,Derbyshire,B,Derbyshire,http://en.wikipedia.org/wiki/Derbyshire_County...,NaN
412,412,Kent,B,Kent,http://en.wikipedia.org/wiki/Kent_County_Crick...,NaN
419,419,Nottinghamshire,B,Nottinghamshire,http://en.wikipedia.org/wiki/Nottinghamshire_C...,NaN
433,433,Paul,B,Paul Johnson,http://en.wikipedia.org/wiki/Paul_Johnson_(squ...,NaN
449,449,Kent,B,Kent,http://en.wikipedia.org/wiki/Kent_County_Crick...,NaN

In [48]:
def find_possible_indexes(df, text_of_unknown):
    if 'en_label' in df.columns:
        # Case-insensitive search for the text in the 'en_label' column
        matches = df['en_label'].str.contains(text_of_unknown, case=False, na=False)
        return df[matches].item_id  # Returns the indexes of matching rows
    else:
        return "Column 'en_label' not found in the DataFrame"

# Example usage
indexes = find_possible_indexes(wiki_items, 'LEICESTERSHIRE')
print(indexes)

20587         23106
534819       778255
666909       988954
694720      1051582
992738      1842129
             ...
4671827    23468498
4741410    24993978
4828311    27958026
4944387    30594846
5165169    56290361
Name: item_id, Length: 121, dtype: int64

In [25]:
wiki_items.loc[indexes]

,item_id,en_label,en_description,wikipedia_title
20587,23106,Leicestershire,ceremonial county in England (use Q21272890 fo...,Leicestershire
534819,778255,"Moira, Leicestershire",village in United Kingdom,"Moira, Leicestershire"
666909,988954,South Leicestershire,Parliamentary constituency in the United Kingd...,South Leicestershire (UK Parliament constituency)
694720,1051582,North West Leicestershire,Parliamentary constituency in the United Kingd...,North West Leicestershire (UK Parliament const...
992738,1842129,Leicestershire Senior League,NaN,Leicestershire Senior League
...,...,...,...,...
4671827,23468498,Leicestershire Rugby Union,NaN,Leicestershire Rugby Union
4741410,24993978,Leicestershire Police and Crime Commissioner,NaN,Leicestershire Police and Crime Commissioner
4828311,27958026,2017 Leicestershire County Council election,NaN,2017 Leicestershire County Council election
4944387,30594846,Leicestershire County Cup,NaN,Leicestershire County Cup
5165169,56290361,Leicester and Leicestershire Amalgamated Hosie...,NaN,Leicester and Leicestershire Amalgamated Hosie...

In [26]:
test_doc_range =  find_doc_range(test)

for start, end in test_doc_range:
    current_doc = test[(test.id >= start) & (test.id <= end)]
    # Ensure NaN values are handled, and join the tokens with a space
    document_string = current_doc['token'].fillna('').str.cat(sep=' ')
    if end < 500:
        print(document_string)

447
-DOCSTART- (947testa CRICKET) CRICKET - LEICESTERSHIRE TAKE OVER AT TOP AFTER INNINGS VICTORY .  LONDON 1996-08-30  West Indian all-rounder Phil Simmons took four for 38 on Friday as Leicestershire beat Somerset by an innings and 39 runs in two days to take over at the head of the county championship .  Their stay on top , though , may be short-lived as title rivals Essex , Derbyshire and Surrey all closed in on victory while Kent made up for lost time in their rain-affected match against Nottinghamshire .  After bowling Somerset out for 83 on the opening morning at Grace Road , Leicestershire extended their first innings by 94 runs before being bowled out for 296 with England discard Andy Caddick taking three for 83 .  Trailing by 213 , Somerset got a solid start to their second innings before Simmons stepped in to bundle them out for 174 .  Essex , however , look certain to regain their top spot after Nasser Hussain and Peter Such gave them a firm grip on their match against Yorkshire at Headingley .  Hussain , considered surplus to England 's one-day requirements , struck 158 , his first championship century of the season , as Essex reached 372 and took a first innings lead of 82 .  By the close Yorkshire had turned that into a 37-run advantage but off-spinner Such had scuttled their hopes , taking four for 24 in 48 balls and leaving them hanging on 119 for five and praying for rain .  At the Oval , Surrey captain Chris Lewis , another man dumped by England , continued to silence his critics as he followed his four for 45 on Thursday with 80 not out on Friday in the match against Warwickshire .  He was well backed by England hopeful Mark Butcher who made 70 as Surrey closed on 429 for seven , a lead of 234 .  Derbyshire kept up the hunt for their first championship title since 1936 by reducing Worcestershire to 133 for five in their second innings , still 100 runs away from avoiding an innings defeat .  Australian Tom Moody took six for 82 but Chris Adams , 123 , and Tim O'Gorman , 109 , took Derbyshire to 471 and a first innings lead of 233 .  After the frustration of seeing the opening day of their match badly affected by the weather , Kent stepped up a gear to dismiss Nottinghamshire for 214 .  They were held up by a gritty 84 from Paul Johnson but ex-England fast bowler Martin McCague took four for 55 .  By stumps Kent had reached 108 for three .

In [27]:
wiki_items

,item_id,en_label,en_description,wikipedia_title
0,1,Universe,totality of space and all contents,Universe
1,2,Earth,third planet from the Sun in the Solar System,Earth
2,3,life,matter capable of extracting energy from the e...,Life
3,4,death,permanent cessation of vital functions,Death
4,5,human,"common name of Homo sapiens, unique extant spe...",Human
...,...,...,...,...
5216231,77042017,HR 4523,NaN,HD 102365
5216232,77043280,Charlie Johnston,NaN,Charlie Johnstone
5216233,77231860,Aldo Rossi,musician,Aldo Rossi (musician)
5216234,77240068,Ebenezer Baptist Church,"church in Atlanta, Georgia, USA",Ebenezer Baptist Church
5216235,77242291,New Court,"group of buildings in City of London, UK",New Court

In [28]:
URL_LEN = len(URL)

In [29]:
train.wiki_url.loc[3][URL_LEN:]

'Germany'

In [33]:
test_doc_range =  find_doc_range(test)

for start, end in test_doc_range:
    current_doc = non_na_test[(non_na_test.id >= start) & (non_na_test.id <= end)]
    not_found = current_doc[current_doc['wiki_url'] == '?']
    found = current_doc[current_doc['wiki_url'].str.startswith('http')]
    if end < 500:
        #display(current_doc)
        #display(not_found)
        #display(found)
        titles = found['wikipedia_title'].apply(lambda row: row[URL_LEN:])
        #display(titles)
        # Use `isin` to match titles with 'wikipedia_title' in 'wiki_items' and extract 'item_id'
        vertices = wiki_items[wiki_items['wikipedia_title'].isin(titles)]['item_id'].values
        display(vertices)
        #vertices = wiki_items[wiki_items.wikipedia_title.isin(found.wiki_url.apply(lambda row: row[URL_LEN]))].item_id.values
        #display(vertices)

447

array([858684])

In [31]:
wiki_items[wiki_items.item_id.isin(vertices)]

,item_id,en_label,en_description,wikipedia_title
13,21,England,"country in north-west Europe, part of the Unit...",England
73,84,London,capital and largest city of the United Kingdom,London
377,408,Australia,country in Oceania,Australia

In [32]:
test_df_mod

,id,token,entity_tag,full_mention,wiki_url,wikipedia_title
0,0,-DOCSTART- (947testa CRICKET),NaN,NaN,NaN,NaN
1,1,CRICKET,NaN,NaN,NaN,NaN
2,2,-,NaN,NaN,NaN,NaN
3,3,LEICESTERSHIRE,B,LEICESTERSHIRE,?,NaN
4,4,TAKE,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
104885,104885,brother,NaN,NaN,NaN,NaN
104886,104886,",",NaN,NaN,NaN,NaN
104887,104887,Bobby,B,Bobby,?,NaN
104888,104888,.,NaN,NaN,NaN,NaN
104889,104889,NaN,NaN,NaN,NaN,NaN

In [37]:

def preprocess_title(title):
    try:
        return str(title).replace(' ', '').replace('_', '').lower()
    except:
        print(title)

In [49]:
test_doc_range =  find_doc_range(test)

for start, end in test_doc_range:
    current_doc = non_na_test[(non_na_test.id >= start) & (non_na_test.id <= end)]
    not_found = current_doc[current_doc['wiki_url'] == '?']
    found = current_doc[current_doc['wiki_url'].str.startswith('http')]
    if end < 500:
        #display(current_doc)
        #display(not_found)
        #display(found)
        found_titles = found['wiki_url'].apply(lambda row: row[URL_LEN:]).apply(preprocess_title)
        not_found_per_idx = not_found['full_mention'].apply(lambda row: find_possible_indexes(wiki_items, row))
        display(not_found_per_idx)
        wiki_titles = wiki_items['wikipedia_title'].apply(preprocess_title)
        #display(titles)
        # Use `isin` to match titles with 'wikipedia_title' in 'wiki_items' and extract 'item_id'
        doc_vertices = wiki_items[wiki_titles.isin(found_titles)]['item_id'].values
        
        distances = compute_distance(G, not_found_per_idx.iloc[0],vertices)
        display(distances)
        #vertices = wiki_items[wiki_items.wikipedia_title.isin(found.wiki_url.apply(lambda row: row[URL_LEN]))].item_id.values
        #display(vertices)

447

,20587,534819,666909,694720,992738,995139,1151338,1203777,1232983,1244653,...,3515131,4819783,579356,2141199,2141200,2141201,2141202,2141203,2141204,2843774
3,23106.0,778255.0,988954.0,1051582.0,1842129.0,1853930.0,2358899.0,2516218.0,2612441.0,2645192.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7816918.0,27831051.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,860227.0,5105679.0,5105681.0,5105682.0,5105684.0,5105685.0,5105686.0,NaN
439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6584108.0

NodeNotFound: Either source 5865259.0 or target 21 is not in G

In [41]:
wiki_items[wiki_items.item_id.isin(vertices)]

,item_id,en_label,en_description,wikipedia_title
13,21,England,"country in north-west Europe, part of the Unit...",England
73,84,London,capital and largest city of the United Kingdom,London
377,408,Australia,country in Oceania,Australia
748457,1155836,The Oval,"cricket ground in Kennington, South London",The Oval
760665,1187032,Headingley Stadium,sports venue,Headingley Stadium
977029,1788018,Derbyshire County Cricket Club,english cricket club,Derbyshire County Cricket Club
1126814,2278396,Paul Johnson,squash player from England,Paul Johnson (squash player)
1271284,2725632,Surrey County Cricket Club,English cricket club,Surrey County Cricket Club
1271297,2725667,Worcestershire County Cricket Club,english cricket team,Worcestershire County Cricket Club
1271309,2725705,Warwickshire County Cricket Club,english cricket club,Warwickshire County Cricket Club
1373695,3058749,Essex County Cricket Club,english cricket club,Essex County Cricket Club
1415232,3177444,Yorkshire County Cricket Club,english cricket club,Yorkshire County Cricket Club
1422158,3195284,Kent County Cricket Club,English cricket club,Kent County Cricket Club
1430950,3229147,Leicestershire County Cricket Club,english cricket club,Leicestershire County Cricket Club
1470832,3344790,Nottinghamshire County Cricket Club,sports club,Nottinghamshire County Cricket Club
1521999,3489807,Somerset County Cricket Club,english cricket club,Somerset County Cricket Club
1534046,3520174,Nasser Hussain,English cricketer,Nasser Hussain
1897722,4756511,Andrew Caddick,English cricketer,Andrew Caddick
2142365,5107238,Chris Lewis,"English Test and County cricketer, drug traffi...",Chris Lewis (cricketer)

In [47]:
# Check if the source and target nodes exist in the graph
source_node = 20587
target_node = 21

if not G.has_node(source_node):
    print(f"Source node {source_node} not found in the graph.")
    # Optionally add the node: G.add_node(source_node)

if not G.has_node(target_node):
    print(f"Target node {target_node} not found in the graph.")
    # Optionally add the node: G.add_node(target_node)

# If both nodes exist, perform your operation
if G.has_node(source_node) and G.has_node(target_node):
    # Example operation: finding a shortest path
    path = nx.shortest_path(G, source=source_node, target=target_node)
    print(path)

Source node 20587 not found in the graph.

In [54]:
wiki_items[wiki_items['en_label'].str.contains('Phil Simon', case=False, na=False)]

         item_id    en_label      en_description wikipedia_title
3138482  7182408  Phil Simon  non-fiction writer      Phil Simon