In [18]:
import pandas as pd 
import pickle as pkl
import requests
from tqdm import tqdm

In [2]:
train = pd.read_csv('data/train.csv')
train

,id,token,entity_tag,full_mention,wiki_url
0,1,-DOCSTART- (1 EU),NaN,NaN,NaN
1,2,EU,B,EU,--NME--
2,3,rejects,NaN,NaN,NaN
3,4,German,B,German,http://en.wikipedia.org/wiki/Germany
4,5,call,NaN,NaN,NaN
...,...,...,...,...,...
218500,218501,Swansea,B,Swansea,http://en.wikipedia.org/wiki/Swansea_City_A.F.C.
218501,218502,1,NaN,NaN,NaN
218502,218503,Lincoln,B,Lincoln,http://en.wikipedia.org/wiki/Lincoln_City_F.C.
218503,218504,2,NaN,NaN,NaN
218504,218505,NaN,NaN,NaN,NaN

In [3]:
import pandas as pd

# Assuming 'train' is your DataFrame and 'token' is the column of interest.
# First, we will define a function to check for 'DOCSTART' in the 'token' column.
def check_docstart(row):
    # This function returns the 'id' if 'token' contains 'DOCSTART', otherwise NaN
    if pd.notnull(row['token']) and 'DOCSTART' in row['token']:
        return True
    else:
        return False # Using pandas NA to handle missing values

# Apply the function across the DataFrame.
train['docstart_id'] = train.apply(check_docstart, axis=1)

# This will create a new column 'docstart_id' where the 'id' is copied if 'token' contains 'DOCSTART', otherwise it will be NaN.

In [4]:
start_ids = train[train['docstart_id']]['id'].values
start_ids

array([     1,    491,    689,    938,   1019,   1255,   1332,   1465,
         1610,   1646,   2153,   2310,   2653,   2774,   2989,   3134,
         3534,   3752,   3859,   4024,   4142,   4269,   4370,   4517,
         4594,   4752,   4873,   5070,   5162,   5591,   5833,   5934,
         6234,   6357,   6465,   6576,   6786,   7012,   7214,   7385,
         7429,   7493,   7798,   7858,   8671,   8750,   8825,   9128,
         9399,  10206,  10423,  10744,  10862,  11818,  11916,  11973,
        12004,  12230,  12360,  12635,  12941,  13131,  13230,  13377,
        13637,  13710,  14010,  14210,  14401,  14503,  14768,  14971,
        15622,  16354,  16506,  16611,  16875,  17102,  17238,  17348,
        17615,  17806,  17987,  18060,  18150,  18281,  18367,  18548,
        18692,  18827,  18955,  19148,  19442,  19644,  19820,  20231,
        20465,  20740,  20989,  21566,  21838,  21901,  22598,  22720,
        22903,  23067,  23178,  23367,  23671,  24115,  24478,  24726,
        24864,  25049,  25204,  25981,  26576,  26803,  26904,  27053,
        27271,  27355,  27461,  27587,  27828,  28190,  28808,  28969,
        29421,  29647,  29839,  29984,  30094,  30130,  30161,  30451,
        30586,  30855,  30920,  31091,  31732,  31908,  32054,  32159,
        32367,  32702,  32808,  33715,  33852,  33882,  34056,  34125,
        34205,  34240,  34269,  34305,  34642,  34710,  34783,  35071,
        35704,  37236,  37428,  37676,  37764,  37858,  38140,  38378,
        38562,  38641,  38734,  38914,  38991,  39121,  39397,  39655,
        39726,  39967,  40558,  40659,  40902,  40987,  41091,  41277,
        41377,  41471,  41772,  41822,  42038,  42209,  42341,  42443,
        42987,  43173,  43434,  43746,  43886,  44079,  44221,  44431,
        44654,  44828,  44994,  45526,  45620,  45931,  46104,  46312,
        46506,  47136,  47350,  48055,  48415,  48655,  48918,  49263,
        49392,  49495,  49588,  49887,  50013,  50121,  50255,  50393,
        50650,  50851,  50893,  51056,  51186,  51302,  51372,  51458,
        52221,  52340,  52477,  52557,  52723,  53087,  53335,  53410,
        53487,  53753,  53995,  54150,  54248,  54358,  54452,  54845,
        55015,  55486,  55659,  56014,  56167,  56409,  56714,  56795,
        56899,  57079,  57200,  57546,  57626,  57679,  57816,  58145,
        58276,  58306,  58517,  58578,  58647,  58859,  59085,  59165,
        59420,  59590,  59874,  60053,  60114,  60480,  60706,  60795,
        60851,  61196,  61291,  61465,  61863,  62142,  62437,  62626,
        62847,  62967,  63165,  63383,  63682,  63958,  64119,  64307,
        65057,  65208,  65298,  65538,  65836,  66108,  66795,  67036,
        67147,  67222,  67408,  67603,  68070,  68509,  68935,  69020,
        69080,  69189,  69391,  69579,  69915,  70380,  70618,  70896,
        71006,  71432,  71777,  71927,  72134,  72194,  72254,  72310,
        72785,  73030,  73081,  73226,  73280,  73556,  73635,  73685,
        73756,  73819,  73877,  73922,  74064,  74369,  74662,  75021,
        75350,  75658,  75796,  75946,  76020,  76350,  76918,  77444,
        77562,  77864,  77905,  78244,  78311,  78528,  78584,  78820,
        79006,  79176,  79364,  79561,  79846,  80063,  80327,  80570,
        80863,  80982,  81205,  81447,  81971,  82306,  82401,  83125,
        83746,  83855,  84081,  84406,  84565,  84596,  84871,  84981,
        85220,  85300,  85533,  85757,  86014,  86092,  86320,  87052,
        87447,  87537,  87663,  87883,  88340,  88443,  89438,  90072,
        90625,  90732,  90952,  91090,  91297,  91337,  91525,  91568,
        91807,  91994,  92204,  92587,  92646,  92964,  93022,  93193,
        93530,  93596,  94017,  94130,  94375,  94759,  95032,  95328,
        95607,  95870,  96219,  96348,  96404,  96767,  96813,  96967,
        97104,  97179,  97614,  98392,  99131, 100058, 100682, 100989,
       101245, 101539, 101618, 101776, 101836, 102185, 102226, 102351,
       102429, 102700, 102837, 103513, 104198, 104398, 104753, 104943,
       105236, 105445, 105734, 106052, 106303, 106400, 106589, 106662,
       106849, 106959, 107031, 107150, 107346, 107507, 107620, 107715,
       107819, 108177, 108463, 108566, 108846, 109065, 109270, 109674,
       109864, 109988, 110137, 110373, 111147, 112052, 112211, 112280,
       112605, 112857, 113155, 113303, 113488, 113659, 113689, 113943,
       114330, 114804, 114942, 115192, 115312, 115406, 115514, 115778,
       115851, 115921, 116012, 116104, 116275, 116510, 116681, 116799,
       117506, 117744, 118619, 118781, 118843, 118969, 119201, 119274,
       119471, 119569, 119702, 120411, 120606, 121099, 121268, 121496,
       121677, 122124, 123210, 123541, 123826, 124344, 124432, 125309,
       125343, 125571, 125602, 125721, 125970, 126022, 126054, 126229,
       126509, 126645, 126870, 127399, 127619, 127736, 127955, 128085,
       128434, 128512, 129138, 129505, 130288, 130544, 130908, 131351,
       131571, 131818, 132057, 132453, 132507, 132608, 132802, 132990,
       133061, 133441, 133683, 133908, 134287, 134384, 134707, 134820,
       134932, 135046, 135230, 135432, 135768, 135835, 136332, 136688,
       136780, 136887, 136945, 137084, 137454, 137618, 137853, 137914,
       138078, 138359, 138516, 139001, 139269, 139900, 140154, 140545,
       140677, 140977, 141312, 141613, 141710, 141813, 142100, 142233,
       142370, 142593, 142766, 142907, 143001, 143152, 143348, 143486,
       143573, 144084, 144363, 144536, 144692, 144902, 145168, 145490,
       145624, 145681, 145899, 146255, 146651, 146926, 147193, 147359,
       147764, 148355, 148447, 148670, 148884, 149345, 149635, 149716,
       149922, 150130, 150565, 150890, 150967, 151260, 151326, 151503,
       151631, 151793, 151973, 152092, 152720, 152994, 153090, 153349,
       153421, 153490, 153672, 153722, 153815, 153922, 154531, 155134,
       155466, 155584, 156188, 156323, 156585, 156834, 156905, 156947,
       157041, 157468, 157657, 157754, 157893, 158003, 158521, 158759,
       159015, 159223, 159448, 159525, 159908, 160175, 160236, 160501,
       160629, 160796, 161117, 161262, 161637, 162052, 162125, 162376,
       162553, 162587, 162773, 163557, 163815, 163921, 164130, 164251,
       164411, 164457, 164746, 164996, 165179, 165247, 165342, 165595,
       165827, 166071, 166551, 166754, 167127, 167246, 167400, 167565,
       168224, 168424, 168798, 169066, 169322, 169596, 169789, 169904,
       170031, 170148, 170385, 170574, 170815, 171080, 171823, 171976,
       172177, 172721, 172922, 173147, 173751, 173836, 173917, 174019,
       174292, 174696, 174981, 175186, 175713, 175804, 175937, 176135,
       176886, 176966, 177657, 177788, 177914, 178038, 178100, 178220,
       178301, 178469, 178522, 178559, 179225, 179348, 179467, 179708,
       179821, 179952, 180248, 180449, 180598, 180912, 181002, 181135,
       181336, 181582, 181701, 182119, 182305, 182577, 182703, 183002,
       183232, 183669, 183780, 183906, 184071, 184175, 184295, 184562,
       184733, 184861, 185118, 185255, 185535, 186048, 186306, 186820,
       186957, 187239, 187491, 187554, 187823, 188168, 188479, 188715,
       188835, 189050, 189145, 189274, 189455, 189544, 189718, 189872,
       190033, 190630, 190945, 191446, 191576, 192006, 192168, 192217,
       192516, 192970, 193084, 193187, 193280, 193448, 193518, 193602,
       193735, 193846, 194110, 194409, 194508, 194601, 194737, 194949,
       195193, 195278, 195749, 196040, 196291, 196437, 196643, 196722,
       196797, 197027, 197269, 197333, 197575, 197910, 198054, 198268,
       198498, 198823, 199008, 199127, 199886, 199991, 200317, 201017,
       201066, 201314, 201527, 202016, 202277, 202459, 202652, 202695,
       202766, 202886, 203131, 203230, 203713, 203894, 204033, 204178,
       204408, 204485, 204770, 204817, 205287, 205450, 205597, 205838,
       206217, 206321, 206480, 206718, 207257, 207365, 207469, 207566,
       207697, 207801, 207936, 208284, 208453, 208527, 208705, 209525,
       209588, 210062, 210427, 210611, 210728, 210918, 211029, 211186,
       211438, 211683, 211846, 211980, 212167, 212305, 212444, 212981,
       213096, 213667, 213801, 213947, 214087, 214189, 214333, 214402,
       214597, 214679, 214982, 215209, 215290, 215784, 215921, 216072,
       216398, 216457, 217110, 217174, 217237, 217536, 217750, 218057,
       218183, 218469])

In [5]:
train.iloc[491]

id                492
token            Rare
entity_tag        NaN
full_mention      NaN
wiki_url          NaN
docstart_id     False
Name: 491, dtype: object

In [6]:
test = pd.read_csv('data/test.csv')
test

,id,token,entity_tag,full_mention,wiki_url
0,0,-DOCSTART- (947testa CRICKET),NaN,NaN,NaN
1,1,CRICKET,NaN,NaN,NaN
2,2,-,NaN,NaN,NaN
3,3,LEICESTERSHIRE,B,LEICESTERSHIRE,?
4,4,TAKE,NaN,NaN,NaN
...,...,...,...,...,...
104885,104885,brother,NaN,NaN,NaN
104886,104886,",",NaN,NaN,NaN
104887,104887,Bobby,B,Bobby,?
104888,104888,.,NaN,NaN,NaN
104889,104889,NaN,NaN,NaN,NaN

In [7]:
def normalize_string(s):
    """
    This function takes a string as input, converts it to lower case, and replaces all spaces with underscores.
    
    Args:
    s (str): The string to normalize.
    
    Returns:
    str: The normalized string.
    """
    if isinstance(s, str):  # Check if the input is a string
        return s.lower().capitalize().replace(' ', '_')
    else:
        return s

In [19]:
submission = test.copy(deep=True)

for idx, row in tqdm(test.iterrows(), total=test.shape[0]):
    if row['wiki_url'] == '?':
        link = 'http://en.wikipedia.org/wiki/' + normalize_string(row['token'])
        response = requests.get(link)
        if response.status_code == 200:
            submission.loc[idx, 'wiki_url'] = link
        else:
            submission.loc[idx, 'wiki_url'] = 'NOT_FOUND'
    else:
        submission.loc[idx, 'wiki_url'] = 'NOT_FOUND'
submission

  1%|█                                                                                      | 1351/104890 [00:52<1:07:31, 25.55it/s]

KeyboardInterrupt

In [13]:
submission = submission.drop(columns=['token', 'entity_tag', 'full_mention'], errors='ignore')

In [10]:
from datetime import datetime

now = datetime.now()


now = datetime.now()
timestamp_str = now.strftime("%Y:%m:%d:_%H:%M:%S") 
file_name = f"submission_{timestamp_str}.csv"
submission.to_csv(file_name, index=False)

In [11]:
pd.read_csv('data/sample_submission.csv')

   id             wiki_url
0   0            NOT_FOUND
1   1            NOT_FOUND
2   2            NOT_FOUND
3   3  PREDICTED_WIKI_LINK
4   4            NOT_FOUND
5   5            NOT_FOUND
6   6            NOT_FOUND
7   7            NOT_FOUND
8   8            NOT_FOUND
9   9            NOT_FOUND