In [1]:
import pandas as pd
import spacy
import requests
from tqdm.auto import tqdm

In [58]:

# Load the spaCy English language model
nlp = spacy.load("en_core_web_sm")
def similarity_score(str1, str2):
    return nlp(str1).similarity(nlp(str2))

In [59]:
wiki_label = pd.read_csv('standard_mapping.csv')
wiki_label

,full_mention,wiki_url,title
0,brussels,http://en.wikipedia.org/wiki/Brussels,brussels
1,european commission,http://en.wikipedia.org/wiki/European_Commission,european commission
2,germany,http://en.wikipedia.org/wiki/Germany,germany
3,european union,http://en.wikipedia.org/wiki/European_Union,european union
4,commission,http://en.wikipedia.org/wiki/European_Commission,european commission
...,...,...,...
11840,sweden,http://en.wikipedia.org/wiki/Sweden,sweden
11841,retief goosen,http://en.wikipedia.org/wiki/Retief_Goosen,retief goosen
11842,south africa,http://en.wikipedia.org/wiki/South_Africa,south africa
11843,david gilford,http://en.wikipedia.org/wiki/David_Gilford,david gilford
11844,london,http://en.wikipedia.org/wiki/London,london

In [60]:
train_docs = pd.read_csv('train.csv')[['full_mention','wiki_url']]
train_docs.head()

  full_mention                              wiki_url
0          NaN                                   NaN
1           EU                               --NME--
2          NaN                                   NaN
3       German  http://en.wikipedia.org/wiki/Germany
4          NaN                                   NaN

In [61]:
wiki_label = train_docs[train_docs.wiki_url.notna() & train_docs.wiki_url.str.startswith('http:')]
wiki_label.full_mention = wiki_label.full_mention.str.lower()
wiki_label['title'] = wiki_label.wiki_url.str[29:].str.replace('_', ' ').str.lower()
wiki_label

,full_mention,wiki_url,title
3,german,http://en.wikipedia.org/wiki/Germany,germany
7,british,http://en.wikipedia.org/wiki/United_Kingdom,united kingdom
14,brussels,http://en.wikipedia.org/wiki/Brussels,brussels
18,european commission,http://en.wikipedia.org/wiki/European_Commission,european commission
26,german,http://en.wikipedia.org/wiki/Germany,germany
...,...,...,...
218481,english,http://en.wikipedia.org/wiki/England,england
218492,plymouth,http://en.wikipedia.org/wiki/Plymouth_Argyle_F.C.,plymouth argyle f.c.
218494,preston,http://en.wikipedia.org/wiki/Preston_North_End...,preston north end f.c.
218500,swansea,http://en.wikipedia.org/wiki/Swansea_City_A.F.C.,swansea city a.f.c.
218502,lincoln,http://en.wikipedia.org/wiki/Lincoln_City_F.C.,lincoln city f.c.

In [62]:
filtered_rows = []
similarity_threshold = 0.65
for index, row in tqdm(wiki_label.iterrows()):
    mention = row['full_mention']
    title_from_url = row['title']
    #if mention==title_from_url.lower() or  similarity_score(mention, title_from_url) > similarity_threshold:
    filtered_rows.append(row)

0it [00:00, ?it/s]

In [63]:
wiki_label = pd.DataFrame(filtered_rows)
wiki_label

,full_mention,wiki_url,title
3,german,http://en.wikipedia.org/wiki/Germany,germany
7,british,http://en.wikipedia.org/wiki/United_Kingdom,united kingdom
14,brussels,http://en.wikipedia.org/wiki/Brussels,brussels
18,european commission,http://en.wikipedia.org/wiki/European_Commission,european commission
26,german,http://en.wikipedia.org/wiki/Germany,germany
...,...,...,...
218481,english,http://en.wikipedia.org/wiki/England,england
218492,plymouth,http://en.wikipedia.org/wiki/Plymouth_Argyle_F.C.,plymouth argyle f.c.
218494,preston,http://en.wikipedia.org/wiki/Preston_North_End...,preston north end f.c.
218500,swansea,http://en.wikipedia.org/wiki/Swansea_City_A.F.C.,swansea city a.f.c.
218502,lincoln,http://en.wikipedia.org/wiki/Lincoln_City_F.C.,lincoln city f.c.

In [19]:
wiki_label.to_csv('standard_mapping.csv', index=False)

In [5]:
#wiki_label = wiki_label[wiki_label.full_mention == wiki_label.wiki_url.str[29:].str.replace('_', ' ').str.lower()]
#wiki_label

In [64]:
test_docs = pd.read_csv('test.csv')
test_docs

,id,token,entity_tag,full_mention,wiki_url
0,0,-DOCSTART- (947testa CRICKET),NaN,NaN,NaN
1,1,CRICKET,NaN,NaN,NaN
2,2,-,NaN,NaN,NaN
3,3,LEICESTERSHIRE,B,LEICESTERSHIRE,?
4,4,TAKE,NaN,NaN,NaN
...,...,...,...,...,...
104885,104885,brother,NaN,NaN,NaN
104886,104886,",",NaN,NaN,NaN
104887,104887,Bobby,B,Bobby,?
104888,104888,.,NaN,NaN,NaN
104889,104889,NaN,NaN,NaN,NaN

In [65]:

nlp = spacy.load("en_core_web_sm")

In [66]:
similarity_score('FOMC', 'Federal Open Market Committee')

0.14528599242381424

In [67]:
to_be_filled = test_docs[test_docs.wiki_url=='?']
to_be_filled['lower_mention'] = to_be_filled.full_mention.str.lower()
to_be_filled['title_mention'] = to_be_filled.full_mention.apply(lambda x: x.title() if x.isupper() else x)
to_be_filled['title_mention'] = to_be_filled.title_mention.apply(lambda x: f'http://en.wikipedia.org/wiki/{x.replace(" ", "_")}')

to_be_filled

,id,token,entity_tag,full_mention,wiki_url,lower_mention,title_mention
3,3,LEICESTERSHIRE,B,LEICESTERSHIRE,?,leicestershire,http://en.wikipedia.org/wiki/Leicestershire
13,13,LONDON,B,LONDON,?,london,http://en.wikipedia.org/wiki/London
16,16,West,B,West Indian,?,west indian,http://en.wikipedia.org/wiki/West_Indian
19,19,Phil,B,Phil Simmons,?,phil simmons,http://en.wikipedia.org/wiki/Phil_Simmons
28,28,Leicestershire,B,Leicestershire,?,leicestershire,http://en.wikipedia.org/wiki/Leicestershire
...,...,...,...,...,...,...,...
104839,104839,England,B,England,?,england,http://en.wikipedia.org/wiki/England
104851,104851,Leeds,B,Leeds United,?,leeds united,http://en.wikipedia.org/wiki/Leeds_United
104858,104858,England,B,England,?,england,http://en.wikipedia.org/wiki/England
104877,104877,1966,B,1966 World Cup,?,1966 world cup,http://en.wikipedia.org/wiki/1966_World_Cup
104887,104887,Bobby,B,Bobby,?,bobby,http://en.wikipedia.org/wiki/Bobby

In [68]:
to_be_filled['wiki_url'] = to_be_filled['lower_mention'].map(wiki_label.set_index('full_mention')['wiki_url'].to_dict(),'ignore')
to_be_filled['wiki_url']= to_be_filled['wiki_url'].fillna('?')
to_be_filled

,id,token,entity_tag,full_mention,wiki_url,lower_mention,title_mention
3,3,LEICESTERSHIRE,B,LEICESTERSHIRE,http://en.wikipedia.org/wiki/Leicestershire_Co...,leicestershire,http://en.wikipedia.org/wiki/Leicestershire
13,13,LONDON,B,LONDON,http://en.wikipedia.org/wiki/London,london,http://en.wikipedia.org/wiki/London
16,16,West,B,West Indian,?,west indian,http://en.wikipedia.org/wiki/West_Indian
19,19,Phil,B,Phil Simmons,?,phil simmons,http://en.wikipedia.org/wiki/Phil_Simmons
28,28,Leicestershire,B,Leicestershire,http://en.wikipedia.org/wiki/Leicestershire_Co...,leicestershire,http://en.wikipedia.org/wiki/Leicestershire
...,...,...,...,...,...,...,...
104839,104839,England,B,England,http://en.wikipedia.org/wiki/England,england,http://en.wikipedia.org/wiki/England
104851,104851,Leeds,B,Leeds United,http://en.wikipedia.org/wiki/Leeds_United_F.C.,leeds united,http://en.wikipedia.org/wiki/Leeds_United
104858,104858,England,B,England,http://en.wikipedia.org/wiki/England,england,http://en.wikipedia.org/wiki/England
104877,104877,1966,B,1966 World Cup,?,1966 world cup,http://en.wikipedia.org/wiki/1966_World_Cup
104887,104887,Bobby,B,Bobby,?,bobby,http://en.wikipedia.org/wiki/Bobby

In [105]:
merged_test = test_docs.merge(to_be_filled[['id','wiki_url', 'title_mention' ]], on='id', how='left')[['id', 'token',  'full_mention','title_mention', 'wiki_url_y']]
merged_test

,id,token,full_mention,title_mention,wiki_url_y
0,0,-DOCSTART- (947testa CRICKET),NaN,NaN,NaN
1,1,CRICKET,NaN,NaN,NaN
2,2,-,NaN,NaN,NaN
3,3,LEICESTERSHIRE,LEICESTERSHIRE,http://en.wikipedia.org/wiki/Leicestershire,http://en.wikipedia.org/wiki/Leicestershire_Co...
4,4,TAKE,NaN,NaN,NaN
...,...,...,...,...,...
104885,104885,brother,NaN,NaN,NaN
104886,104886,",",NaN,NaN,NaN
104887,104887,Bobby,Bobby,http://en.wikipedia.org/wiki/Bobby,?
104888,104888,.,NaN,NaN,NaN
104889,104889,NaN,NaN,NaN,NaN

In [106]:
merged_test[merged_test.wiki_url_y.notna()]

,id,token,full_mention,title_mention,wiki_url_y
3,3,LEICESTERSHIRE,LEICESTERSHIRE,http://en.wikipedia.org/wiki/Leicestershire,http://en.wikipedia.org/wiki/Leicestershire_Co...
13,13,LONDON,LONDON,http://en.wikipedia.org/wiki/London,http://en.wikipedia.org/wiki/London
16,16,West,West Indian,http://en.wikipedia.org/wiki/West_Indian,?
19,19,Phil,Phil Simmons,http://en.wikipedia.org/wiki/Phil_Simmons,?
28,28,Leicestershire,Leicestershire,http://en.wikipedia.org/wiki/Leicestershire,http://en.wikipedia.org/wiki/Leicestershire_Co...
...,...,...,...,...,...
104839,104839,England,England,http://en.wikipedia.org/wiki/England,http://en.wikipedia.org/wiki/England
104851,104851,Leeds,Leeds United,http://en.wikipedia.org/wiki/Leeds_United,http://en.wikipedia.org/wiki/Leeds_United_F.C.
104858,104858,England,England,http://en.wikipedia.org/wiki/England,http://en.wikipedia.org/wiki/England
104877,104877,1966,1966 World Cup,http://en.wikipedia.org/wiki/1966_World_Cup,?
104887,104887,Bobby,Bobby,http://en.wikipedia.org/wiki/Bobby,?

In [108]:
merged_test[merged_test.wiki_url_y=='?'].full_mention

16           West Indian
19          Phil Simmons
101           Grace Road
143              Simmons
169           Peter Such
               ...
104590          Hercules
104599       Extremadura
104617          IRISHMAN
104877    1966 World Cup
104887             Bobby
Name: full_mention, Length: 2654, dtype: object

In [97]:
def is_valid_wikipedia_link(wikipedia_link):
    try:
        response = requests.get(wikipedia_link, allow_redirects=True)
        if response.status_code // 100 == 2:
            return response.url
        else:
            return False
    except requests.RequestException:
        return False  # Handle exceptions such as network errors

def find_first_substring(words, query):
    for word in words:
        if query in word:
            return word
    return None

def find_first_substring_lowercase(words, query):
    for word in words:
        if word.lower()  in query:
            return word
    return None

def find_first_superstring_lowercase(words, query):
    for word in words:
        if query in word.lower():
            return word
    return None

current_document = []
correct_links = []

for index, row in tqdm(merged_test.iterrows()):
    current_document.append({
                    'id': row['id'],
                    'token': row['token'],
                    'full_mention': row['full_mention'],
                    'wiki_link': row['title_mention'],
                    'wiki_url': row['wiki_url_y']
                })
    
    try:
        if row['token'].startswith('-DOCSTART-'):            
            
            document_df = pd.DataFrame(current_document)
            full_mention_ = document_df[document_df['wiki_url'].notna()]
            full_mention_train = full_mention_[full_mention_['wiki_url'] != '?'].set_index('full_mention')['wiki_url'].to_dict()
            mention_test = full_mention_[full_mention_['wiki_url'] == '?']

            incorrect_links = []

            for mention_index, mention_ in mention_test.iterrows():
                link = mention_.wiki_link
                result = is_valid_wikipedia_link(link)
                if result:

                    correct_links.append((mention_.id,result))
                    full_mention_train[mention_.full_mention] = result
                
                else: 
                    correct_attempt = mention_.full_mention.replace(" ","_")
                    correct_attempt = correct_attempt.replace('U.S.', 'United_States')
                    correct_attempt = correct_attempt.replace('U.N.', 'United_Nations')
                    new_link = f'http://en.wikipedia.org/wiki/{correct_attempt}'
                    result = is_valid_wikipedia_link(new_link)
                    if result:
                        correct_links.append((mention_.id,result))
                        full_mention_train[mention_.full_mention] = result
                    else:
                        lowercase_link = new_link.lower()
                        result = is_valid_wikipedia_link(lowercase_link)
                        if result:
                            correct_links.append((mention_.id,result))
                            full_mention_train[mention_.full_mention] = result
                        else:
                            incorrect_links.append((mention_.id,mention_.full_mention))
                            print(f"The Wikipedia link {new_link} is invalid.")

            if len(incorrect_links)> 0:
                print(full_mention_train.keys())
                for incorrect_id, incorrect_term in incorrect_links:
                    incorrect_term = incorrect_term.split('-')[0]
                    
                    match_word = find_first_substring(full_mention_train.keys(),incorrect_term)
                    if match_word:
                        print(incorrect_term,"was mapped to", match_word)
                        correct_links.append((incorrect_id,full_mention_train[match_word]))
                    
                    else:
                        match_word = find_first_substring_lowercase(full_mention_train.keys(),incorrect_term.lower())
                        if match_word:
                            print(incorrect_term,"was mapped to", match_word)
                            correct_links.append((incorrect_id,full_mention_train[match_word]))
                        else:
                            match_word = find_first_superstring_lowercase(full_mention_train.keys(),incorrect_term.lower())
                            if match_word:
                                print(incorrect_term,"was mapped to", match_word)
                                correct_links.append((incorrect_id,full_mention_train[match_word]))
                            else:
                                print("Can't find match for", incorrect_term)
                        
                print("......")
            current_document = []
    except AttributeError:
        pass

0it [00:00, ?it/s]

http://en.wikipedia.org/wiki/Bisconti
The Wikipedia link http://en.wikipedia.org/wiki/Bisconti is invalid.
dict_keys(['STANDARD LIEGE', 'GENEVA', 'UEFA', 'Belgian', 'Standard Liege', 'Karlsruhe', 'Germany', 'Swiss', 'UEFA Cup', 'Intertoto', 'Guy Hellers', 'Roberto Bisconti'])
Bisconti was mapped to Roberto Bisconti
......
http://en.wikipedia.org/wiki/FOMC
http://en.wikipedia.org/wiki/FOMC
http://en.wikipedia.org/wiki/FOMC
http://en.wikipedia.org/wiki/United_States_Agriculture_Department
http://en.wikipedia.org/wiki/First_Chicago
The Wikipedia link http://en.wikipedia.org/wiki/First_Chicago is invalid.
dict_keys(['CHICAGO', 'Missouri', 'Midwest', 'Illinois', 'NationsBank Corp.', 'NationsBank', 'Commerce Bancshares Inc.', 'A.G. Edwards & Sons', 'Banc One', 'KeyCorp'])
Can't find match for First Chicago
......
http://en.wikipedia.org/wiki/Pirelli_Cables
The Wikipedia link http://en.wikipedia.org/wiki/Pirelli_Cables is invalid.
dict_keys(['Chinese', 'MILAN', 'Italian', 'China', 'Jiangsu', 'Shanghai', 'Indonesia', 'India', 'Malaysia', 'GMT', 'Milan', 'Asia', 'U.S.', 'Europe', 'Pirelli', 'CITIC Pacific', 'Wuxi'])
Can't find match for Pirelli Cables
......
http://en.wikipedia.org/wiki/MNLF
http://en.wikipedia.org/wiki/Brazilian-born
The Wikipedia link http://en.wikipedia.org/wiki/Brazilian-born is invalid.
dict_keys(['Spain', 'Real Madrid', 'Spanish', 'Brazilian', 'Auxerre', 'FIFA', 'Europe', 'Brazil', 'REAL', 'LA CORUNA', 'Roberto Carlos', 'Fabio Capello', 'Real', 'Deportivo', 'Donato', 'Mauro Silva', 'John Toshack'])
Brazilian was mapped to Brazilian
......
http://en.wikipedia.org/wiki/Telgheder
The Wikipedia link http://en.wikipedia.org/wiki/Telgheder is invalid.
dict_keys(['RANGERS', 'INDIANS', 'Texas', 'Ivan Rodriguez', 'Texas Rangers', 'Cleveland Indians', 'Indians', 'Cleveland', 'American League', 'Jim Thome', 'White Sox', 'Seattle', 'West', 'California', 'New York Yankees', 'Angels', 'New York', 'Yankees', 'Baltimore Orioles', 'Seattle Mariners', 'Baltimore', 'Jay Buhner', 'Edgar Martinez', 'Orioles', 'Mariners', 'Toronto', 'Chicago White Sox', 'Chicago', 'Oakland', 'Boston Red Sox', 'Boston', 'Detroit', 'Tigers', 'Kansas City Royals', 'Royals', 'Kansas City', 'Milwaukee', 'Brewers', 'Minnesota Twins', 'Bob Wickman', 'Matt Lawton', 'Minnesota', 'Dave Nilsson', 'ARLINGTON', 'Juan Gonzalez', 'Chad Ogea', 'Mickey Rivers', 'Ruben Sierra', 'Johnny Oates', 'Roger Pavlik', 'Jeff Russell', 'Brian Giles', 'American League Central', 'Tino Martinez', 'Andy Pettitte', 'Mariano Duncan', 'Darryl Strawberry', 'Jim Leyritz', 'Mariano Rivera', 'Randy Velarde', 'Pete Incaviglia', 'Incaviglia', 'Eddie Murray', 'Kevin Tapani', 'Frank Thomas', 'Blue Jays', 'Thomas', 'Harold Baines', 'Robin Ventura', 'Baines', 'Danny Tartabull', 'Dave Telgheder', 'Mark McGwire', 'Buddy Groom', 'McGwire', 'Todd Van Poppel', 'Tony Clark', 'Marc Newfield', 'Jose Parra', 'Mike Fetters'])
Telgheder was mapped to Dave Telgheder
......
http://en.wikipedia.org/wiki/LYNAGH
The Wikipedia link http://en.wikipedia.org/wiki/LYNAGH is invalid.
http://en.wikipedia.org/wiki/Lynagh
The Wikipedia link http://en.wikipedia.org/wiki/Lynagh is invalid.
http://en.wikipedia.org/wiki/Lynagh
The Wikipedia link http://en.wikipedia.org/wiki/Lynagh is invalid.
dict_keys(['RUGBY UNION', 'LEICESTER', 'LONDON', 'English', 'Leicester', 'London', 'French', 'England', 'Will Carling', 'Rugby Football Union', 'Northampton', 'Bristol', 'DWYER', 'Wallaby', 'Michael Lynagh', 'Bob Dwyer', 'Saracens', 'Philippe Sella', 'Kyran Bracken', 'Harlequins', 'Laurent Cabannes', 'Laurent Benezech', 'Gloucester', 'Bath', 'Orrell', 'Wasps'])
LYNAGH was mapped to Michael Lynagh
Lynagh was mapped to Michael Lynagh
Lynagh was mapped to Michael Lynagh
......
http://en.wikipedia.org/wiki/JANSHER
The Wikipedia link http://en.wikipedia.org/wiki/JANSHER is invalid.
http://en.wikipedia.org/wiki/Jansher
The Wikipedia link http://en.wikipedia.org/wiki/Jansher is invalid.
http://en.wikipedia.org/wiki/Jansher
The Wikipedia link http://en.wikipedia.org/wiki/Jansher is invalid.
http://en.wikipedia.org/wiki/Jansher
The Wikipedia link http://en.wikipedia.org/wiki/Jansher is invalid.
http://en.wikipedia.org/wiki/Jansher
The Wikipedia link http://en.wikipedia.org/wiki/Jansher is invalid.
http://en.wikipedia.org/wiki/Jansher
The Wikipedia link http://en.wikipedia.org/wiki/Jansher is invalid.
http://en.wikipedia.org/wiki/Jansher
The Wikipedia link http://en.wikipedia.org/wiki/Jansher is invalid.
http://en.wikipedia.org/wiki/Jansher
The Wikipedia link http://en.wikipedia.org/wiki/Jansher is invalid.
http://en.wikipedia.org/wiki/Jansher
The Wikipedia link http://en.wikipedia.org/wiki/Jansher is invalid.
dict_keys(['HONG KONG', 'Australian', 'Jansher Khan', 'Rodney Eyles', 'Peter Nicol', 'Scotland', 'Professional Squash Association', 'Eyles'])
JANSHER was mapped to Jansher Khan
Jansher was mapped to Jansher Khan
Jansher was mapped to Jansher Khan
Jansher was mapped to Jansher Khan
Jansher was mapped to Jansher Khan
Jansher was mapped to Jansher Khan
Jansher was mapped to Jansher Khan
Jansher was mapped to Jansher Khan
Jansher was mapped to Jansher Khan
......
http://en.wikipedia.org/wiki/Karbacher
The Wikipedia link http://en.wikipedia.org/wiki/Karbacher is invalid.
http://en.wikipedia.org/wiki/Karbacher
The Wikipedia link http://en.wikipedia.org/wiki/Karbacher is invalid.
http://en.wikipedia.org/wiki/Karbacher
The Wikipedia link http://en.wikipedia.org/wiki/Karbacher is invalid.
http://en.wikipedia.org/wiki/Karbacher
The Wikipedia link http://en.wikipedia.org/wiki/Karbacher is invalid.
dict_keys(['EDBERG', 'NEW YORK', 'Stefan Edberg', 'U.S. Open', 'Bernd Karbacher', 'Edberg', 'German', 'Grand Slam', 'Wimbledon', 'Richard Krajicek', 'Krajicek', 'Dutch', 'Paul Haarhuis', 'Ivan Lendl'])
Karbacher was mapped to Bernd Karbacher
Karbacher was mapped to Bernd Karbacher
Karbacher was mapped to Bernd Karbacher
Karbacher was mapped to Bernd Karbacher
......
http://en.wikipedia.org/wiki/WBO
http://en.wikipedia.org/wiki/IBF
http://en.wikipedia.org/wiki/Degryse
The Wikipedia link http://en.wikipedia.org/wiki/Degryse is invalid.
dict_keys(['BELGIUM', 'BRUSSELS', 'Belgium', 'Belgian', 'English', 'Euro 96', 'France', 'Enzo Scifo', 'Luc Nilis', 'Turkish', 'Russia', 'Italy', 'TURKEY', '1998 World Cup', 'Turkey', 'Filip De Wilde', 'David Elleray', 'Marc Degryse', 'Dirk Medved', 'Luis Oliveira', 'Ogun Temizkanoglu', 'Arif Erdem', 'Orhan Cikirikci', 'Bertrand Crasson', 'Pascal Renier', 'Geoffrey Claeys', 'Gunther Schepens', 'Nico Van Kerckhoven', 'Gert Verheyen', 'Frederic Peiremans', 'Gilles De Bilde', 'Hakan Unsal', 'Recep Cetin', 'Alpay Ozalan', 'Abdullah Ercan', 'Tolunay Kafkas', 'Oguz Cetin', 'Tayfun Korkut', 'Hakan Sukur', 'Saffet Sancakli', 'Wilfried Van Moer', 'Van Moer', 'Paul Van Himst'])
Degryse was mapped to Marc Degryse
......
http://en.wikipedia.org/wiki/London-based
The Wikipedia link http://en.wikipedia.org/wiki/London-based is invalid.
dict_keys(['Iraqis', 'Iraq', 'LONDON', 'Iraqi', 'Kurdish', 'Arbil', 'GMT', 'Reuters', 'Bill Clinton', 'U.S.', 'Washington', 'Iran', 'Tehran', 'Iraqi Kurdish', 'Iraqi National Congress'])
London was mapped to LONDON
......
http://en.wikipedia.org/wiki/NLD
http://en.wikipedia.org/wiki/NLD
http://en.wikipedia.org/wiki/NLD
http://en.wikipedia.org/wiki/NLD
http://en.wikipedia.org/wiki/NLD
http://en.wikipedia.org/wiki/NLD
http://en.wikipedia.org/wiki/United_Nations_Interim_Force_in_Lebanon
http://en.wikipedia.org/wiki/Interstates_80
The Wikipedia link http://en.wikipedia.org/wiki/Interstates_80 is invalid.
dict_keys(['U.S.', 'DETROIT', 'Labor Day', 'Midwest', 'California', 'Interstate 95', 'Interstate 5'])
Can't find match for Interstates 80
......
http://en.wikipedia.org/wiki/Michael_DiVenuto
The Wikipedia link http://en.wikipedia.org/wiki/Michael_DiVenuto is invalid.
dict_keys(['Australia', 'Tasmania', 'Victoria', 'SHEFFIELD SHIELD', 'HOBART', 'Sheffield Shield', 'Bellerive Oval', 'David Boon', 'Shaun Young'])
Can't find match for Michael DiVenuto
......
http://en.wikipedia.org/wiki/NY_RANGERS
http://en.wikipedia.org/wiki/NY_ISLANDERS
The Wikipedia link http://en.wikipedia.org/wiki/NY_ISLANDERS is invalid.
dict_keys(['NEW YORK', 'BOSTON', 'MONTREAL', 'PITTSBURGH', 'OTTAWA', 'FLORIDA', 'PHILADELPHIA', 'NEW JERSEY', 'WASHINGTON', 'CENTRAL DIVISION', 'DETROIT', 'DALLAS', 'CHICAGO', 'ST LOUIS', 'TORONTO', 'PHOENIX', 'COLORADO', 'VANCOUVER', 'LOS ANGELES', 'SAN JOSE', 'CALGARY', 'NHL', 'National Hockey League', 'HARTFORD', 'BUFFALO', 'ATLANTIC', 'NY RANGERS', 'TAMPA BAY', 'PACIFIC', 'EDMONTON', 'ANAHEIM'])
Can't find match for NY ISLANDERS
......
http://en.wikipedia.org/wiki/LA_LAKERS
http://en.wikipedia.org/wiki/LA_CLIPPERS
http://en.wikipedia.org/wiki/LA_LAKERS
http://en.wikipedia.org/wiki/NY_JETS
http://en.wikipedia.org/wiki/NY_GIANTS
http://en.wikipedia.org/wiki/NY_GIANTS
http://en.wikipedia.org/wiki/NY_JETS
http://en.wikipedia.org/wiki/Konterman
The Wikipedia link http://en.wikipedia.org/wiki/Konterman is invalid.
dict_keys(['DUTCH', 'AMSTERDAM', 'Dutch', 'RKC Waalwijk', 'Willem II Tilburg'])
Can't find match for Konterman
......
http://en.wikipedia.org/wiki/Stickroth
The Wikipedia link http://en.wikipedia.org/wiki/Stickroth is invalid.
dict_keys(['GERMAN', 'BONN', 'German', 'Bochum', 'Bayer Leverkusen', 'Werder Bremen', '1860 Munich', 'Karlsruhe', 'Dundee', 'Freiburg', 'Schalke', 'Mulder', 'Hansa Rostock', 'Wosz', 'Kirsten', 'Ramelow', 'Bode', 'Reich', 'Carl'])
Can't find match for Stickroth
......
http://en.wikipedia.org/wiki/UEFA_Cups
The Wikipedia link http://en.wikipedia.org/wiki/UEFA_Cups is invalid.
dict_keys(['ITALIAN', 'ROME', 'Italian', 'Serie A', 'GMT', 'Bologna', 'Piacenza', 'Vicenza', 'Swede', 'Russian', 'AC Milan', 'Cagliari', 'Reggiana', 'Napoli', 'Inter', 'Swiss', 'Ramon Vega', 'German', 'Fiorentina', 'Perugia', 'Croat', 'Lazio', 'Rome', 'Czech', 'Roma', 'Argentine', 'Udinese', 'Milan', 'Norwegian', 'Rosenborg', 'Liberian', 'George Weah', 'Roberto Baggio', 'Montenegrin', 'Dejan Savicevic', 'Oliver Bierhoff', 'Verona', 'Parma', 'French', 'Atalanta', 'Sampdoria', 'Juventus', 'Portuguese', 'Internazionale', 'Uruguayan', 'Chilean', 'Kennet Andersson', 'Igor Kolyvanov', 'Dietmar Beiersdorfer', 'Daniele Carnasciali', 'Lorenzo Amoruso', 'Fausto Pizzi', 'AS Roma', 'Roman', 'Pierluigi Casiraghi', 'Pavel Nedved', 'Paolo Negro', 'Abel Balbo', 'Marco Delvecchio', 'Francesco Totti', 'Roberto Ayala', 'Eugenio Corini', 'Mario Stanic', 'Daniel Bravo', 'Fabio Cannavaro', 'Filippo Inzaghi', 'Dimas', 'Alessandro Del Piero', 'Alen Boksic', 'Roberto Mancini', 'Pierre Laigle', 'Marcelo Otero', 'Ivan Zamorano'])
Can't find match for UEFA Cups
......
http://en.wikipedia.org/wiki/UDMR
http://en.wikipedia.org/wiki/UDMR
http://en.wikipedia.org/wiki/CEFTA
http://en.wikipedia.org/wiki/NLD
http://en.wikipedia.org/wiki/NLD
http://en.wikipedia.org/wiki/ICFTU
http://en.wikipedia.org/wiki/ICFTU
http://en.wikipedia.org/wiki/ICFTU
http://en.wikipedia.org/wiki/ICFTU
http://en.wikipedia.org/wiki/FSA
http://en.wikipedia.org/wiki/NWS
http://en.wikipedia.org/wiki/CBOT
http://en.wikipedia.org/wiki/RTRS
http://en.wikipedia.org/wiki/Langmore
The Wikipedia link http://en.wikipedia.org/wiki/Langmore is invalid.
http://en.wikipedia.org/wiki/Langmore
The Wikipedia link http://en.wikipedia.org/wiki/Langmore is invalid.
dict_keys(['Australian', 'CANBERRA', 'Fraser', 'Australia', 'United Nations', 'New York', 'U.N.', 'Copenhagen', 'Papua New Guinea', 'Canberra', 'RTRS', 'John Langmore', 'Bob Halverson', 'Halverson', 'John Vance Langmore', 'Australian Capital Territory', 'Paul Keating'])
Langmore was mapped to John Langmore
Langmore was mapped to John Langmore
......
http://en.wikipedia.org/wiki/JCPENNEY_CLASSIC
The Wikipedia link http://en.wikipedia.org/wiki/JCPENNEY_CLASSIC is invalid.
http://en.wikipedia.org/wiki/PGA
http://en.wikipedia.org/wiki/LPGA
dict_keys(['Scott McCarron', 'U.S.', 'Davis Love', 'TARPON SPRINGS', 'JCPenney Classic', 'PGA', 'LPGA', 'Pat Hurst', 'Donna Andrews', 'Mike Hulbert', 'Kelli Kuehne', 'Tiger Woods', 'Beth Daniel'])
JCPENNEY CLASSIC was mapped to JCPenney Classic
......
http://en.wikipedia.org/wiki/OESTERSUND
The Wikipedia link http://en.wikipedia.org/wiki/OESTERSUND is invalid.
http://en.wikipedia.org/wiki/Paramygina
The Wikipedia link http://en.wikipedia.org/wiki/Paramygina is invalid.
dict_keys(['Sweden', 'World Cup', 'Belarus', 'Norway', 'Germany', 'Russia', 'Vadim Sashurin', 'Frode Andresen', 'Ole Einar Bjorndalen', 'Sven Fischer', 'Ricco Gross', 'Fischer', 'Pavel Muslimov', 'Sashurin', 'Olga Melnik', 'Svetlana Paramygina', 'Belorus', 'Gunn Margit Andreassen', 'Simone Greiner-Petter-Memm', 'Petra Behle', 'Behle', 'Greiner-Petter-Memm'])
Can't find match for OESTERSUND
Paramygina was mapped to Svetlana Paramygina
......
http://en.wikipedia.org/wiki/Ekoku
The Wikipedia link http://en.wikipedia.org/wiki/Ekoku is invalid.
dict_keys(['ENGLISH', 'LONDON', 'English', 'Arsenal', 'Derby', 'Chelsea', 'Everton', 'Coventry', 'Tottenham', 'Leicester', 'Blackburn', 'Liverpool', 'Sheffield Wednesday', 'Middlesbrough', 'Leeds', 'Southampton', 'Aston Villa', 'Sunderland', 'Wimbledon', 'Adams', 'Vieira', 'Sturridge', 'Powell', 'Zola', 'Vialli', 'Kanchelskis', 'Whelan', 'Sheringham', 'Sinton', 'Sutton', 'Whittingham', 'Townsend', 'Melville', 'Holdsworth'])
Can't find match for Ekoku
......
http://en.wikipedia.org/wiki/Michael_DiVenuto
The Wikipedia link http://en.wikipedia.org/wiki/Michael_DiVenuto is invalid.
dict_keys(['VICTORIA', 'Australia', 'Victoria', 'Tasmania', 'HOBART', 'Dean Jones', 'Sheffield Shield', 'Hobart', 'Bellerive Oval', 'Tasmanian', 'David Boon', 'Shaun Young', 'Shane Warne', 'Laurie Harper', 'Harper', 'Ian Harvey'])
Can't find match for Michael DiVenuto
......
http://en.wikipedia.org/wiki/Michael_DiVenuto
The Wikipedia link http://en.wikipedia.org/wiki/Michael_DiVenuto is invalid.
dict_keys(['Australia', 'Tasmania', 'Victoria', 'SHEFFIELD SHIELD', 'HOBART', 'Sheffield Shield', 'Bellerive Oval', 'David Boon', 'Shaun Young', 'Dean Jones'])
Can't find match for Michael DiVenuto
......
http://en.wikipedia.org/wiki/LA_LAKERS
http://en.wikipedia.org/wiki/LA_CLIPPERS
http://en.wikipedia.org/wiki/LA_CLIPPERS
http://en.wikipedia.org/wiki/LA_LAKERS
http://en.wikipedia.org/wiki/NY_RANGERS
http://en.wikipedia.org/wiki/NY_ISLANDERS
The Wikipedia link http://en.wikipedia.org/wiki/NY_ISLANDERS is invalid.
http://en.wikipedia.org/wiki/NY_ISLANDERS
The Wikipedia link http://en.wikipedia.org/wiki/NY_ISLANDERS is invalid.
http://en.wikipedia.org/wiki/NY_RANGERS
dict_keys(['NEW YORK', 'MONTREAL', 'BOSTON', 'PITTSBURGH', 'OTTAWA', 'FLORIDA', 'PHILADELPHIA', 'NEW JERSEY', 'WASHINGTON', 'DETROIT', 'DALLAS', 'ST LOUIS', 'CHICAGO', 'TORONTO', 'PHOENIX', 'COLORADO', 'VANCOUVER', 'LOS ANGELES', 'SAN JOSE', 'CALGARY', 'NHL', 'National Hockey League', 'HARTFORD', 'BUFFALO', 'ATLANTIC', 'NY RANGERS', 'TAMPA BAY', 'PACIFIC', 'EDMONTON', 'ANAHEIM'])
Can't find match for NY ISLANDERS
Can't find match for NY ISLANDERS
......
http://en.wikipedia.org/wiki/NY_RANGERS

In [98]:
correct_links += [(62406,'https://en.wikipedia.org/wiki/Bert_Konterman'), (95770, 'https://en.wikipedia.org/wiki/Östersund'), 
                  (62712, 'https://en.wikipedia.org/wiki/Thomas_Stickroth'), (25086, 'https://en.wikipedia.org/wiki/Pirelli')
                  ]

In [99]:
merged_test = merged_test.merge(pd.DataFrame(correct_links), left_on='id', right_on=0, how= 'left')
merged_test = merged_test.drop(columns=[0])
merged_test['wiki_url_y'] = merged_test.apply(lambda row: row[1] if row['wiki_url_y'] == '?' and pd.notna(row[1]) else row['wiki_url_y'], axis=1)
merged_test = merged_test.drop(columns=[1])
merged_test

,id,token,full_mention,title_mention,wiki_url_y
0,0,-DOCSTART- (947testa CRICKET),NaN,NaN,NaN
1,1,CRICKET,NaN,NaN,NaN
2,2,-,NaN,NaN,NaN
3,3,LEICESTERSHIRE,LEICESTERSHIRE,http://en.wikipedia.org/wiki/Leicestershire,http://en.wikipedia.org/wiki/Leicestershire_Co...
4,4,TAKE,NaN,NaN,NaN
...,...,...,...,...,...
104885,104885,brother,NaN,NaN,NaN
104886,104886,",",NaN,NaN,NaN
104887,104887,Bobby,Bobby,http://en.wikipedia.org/wiki/Bobby,?
104888,104888,.,NaN,NaN,NaN
104889,104889,NaN,NaN,NaN,NaN

In [100]:
merged_test[merged_test.wiki_url_y=='?']

,id,token,full_mention,title_mention,wiki_url_y
19238,19238,First,First Chicago,http://en.wikipedia.org/wiki/First_Chicago,?
51548,51548,Interstates,Interstates 80,http://en.wikipedia.org/wiki/Interstates_80,?
59129,59129,Michael,Michael DiVenuto,http://en.wikipedia.org/wiki/Michael_DiVenuto,?
60183,60183,NY,NY ISLANDERS,http://en.wikipedia.org/wiki/Ny_Islanders,?
64498,64498,UEFA,UEFA Cups,http://en.wikipedia.org/wiki/UEFA_Cups,?
99127,99127,Ekoku,Ekoku,http://en.wikipedia.org/wiki/Ekoku,?
101838,101838,Michael,Michael DiVenuto,http://en.wikipedia.org/wiki/Michael_DiVenuto,?
101980,101980,Michael,Michael DiVenuto,http://en.wikipedia.org/wiki/Michael_DiVenuto,?
103453,103453,NY,NY ISLANDERS,http://en.wikipedia.org/wiki/Ny_Islanders,?
103622,103622,NY,NY ISLANDERS,http://en.wikipedia.org/wiki/Ny_Islanders,?
104617,104617,IRISHMAN,IRISHMAN,http://en.wikipedia.org/wiki/Irishman,?
104877,104877,1966,1966 World Cup,http://en.wikipedia.org/wiki/1966_World_Cup,?
104887,104887,Bobby,Bobby,http://en.wikipedia.org/wiki/Bobby,?

In [101]:
merged_test.wiki_url_y = merged_test.wiki_url_y.replace('?', 'NOT_FOUND')
merged_test

,id,token,full_mention,title_mention,wiki_url_y
0,0,-DOCSTART- (947testa CRICKET),NaN,NaN,NaN
1,1,CRICKET,NaN,NaN,NaN
2,2,-,NaN,NaN,NaN
3,3,LEICESTERSHIRE,LEICESTERSHIRE,http://en.wikipedia.org/wiki/Leicestershire,http://en.wikipedia.org/wiki/Leicestershire_Co...
4,4,TAKE,NaN,NaN,NaN
...,...,...,...,...,...
104885,104885,brother,NaN,NaN,NaN
104886,104886,",",NaN,NaN,NaN
104887,104887,Bobby,Bobby,http://en.wikipedia.org/wiki/Bobby,NOT_FOUND
104888,104888,.,NaN,NaN,NaN
104889,104889,NaN,NaN,NaN,NaN

In [ ]:
'Andrew Mehrtens', 'Mehrtens', 'Jansher Khan', 'Jansher', 'Bernd Karbacher', 'Karbacher'

In [ ]:
doc = nlp(sentences)
# Extract entities
entities = [(ent.text, ent.label_) for ent in doc.ents]

In [209]:
to_be_filled[to_be_filled.wiki_url.isna()]

,id,token,entity_tag,full_mention,wiki_url,lower_mention,title_mention
16,16,West,B,West Indian,NaN,west indian,http://en.wikipedia.org/wiki/West_Indian
19,19,Phil,B,Phil Simmons,NaN,phil simmons,http://en.wikipedia.org/wiki/Phil_Simmons
30,30,Somerset,B,Somerset,NaN,somerset,http://en.wikipedia.org/wiki/Somerset
67,67,Derbyshire,B,Derbyshire,NaN,derbyshire,http://en.wikipedia.org/wiki/Derbyshire
76,76,Kent,B,Kent,NaN,kent,http://en.wikipedia.org/wiki/Kent
...,...,...,...,...,...,...,...
104786,104786,Charlton,B,Charlton,NaN,charlton,http://en.wikipedia.org/wiki/Charlton
104827,104827,European,B,European,NaN,european,http://en.wikipedia.org/wiki/European
104835,104835,Irish,B,Irish,NaN,irish,http://en.wikipedia.org/wiki/Irish
104877,104877,1966,B,1966 World Cup,NaN,1966 world cup,http://en.wikipedia.org/wiki/1966_World_Cup
104887,104887,Bobby,B,Bobby,NaN,bobby,http://en.wikipedia.org/wiki/Bobby

In [83]:

# Example usage:
wikipedia_link = 'http://en.wikipedia.org/wiki/la_lakers'
result = is_valid_wikipedia_link(wikipedia_link)

if result:
    print(f"The Wikipedia link {wikipedia_link} is valid.")
else:
    print(f"The Wikipedia link {wikipedia_link} is not valid.")

The Wikipedia link http://en.wikipedia.org/wiki/la_lakers is valid.

In [124]:
correct_links = []
for link in tqdm(to_be_filled[to_be_filled.wiki_url.isna()].title_mention):
    result = is_valid_wikipedia_link(link)
    if not result:
        correct_links.append("NOT_FOUND")
        print(f"The Wikipedia link {link} is valid.")
    else: 
        correct_links.append(link)

  0%|          | 0/2654 [00:00<?, ?it/s]

The Wikipedia link http://en.wikipedia.org/wiki/Bisconti is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Fomc is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Fomc is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Fomc is valid.
The Wikipedia link http://en.wikipedia.org/wiki/U.S._Agriculture_Department is valid.
The Wikipedia link http://en.wikipedia.org/wiki/First_Chicago is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Pirelli_Cables is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Mnlf is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Brazilian-born is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Telgheder is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Lynagh is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Lynagh is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Lynagh is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Jansher is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Jansher is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Jansher is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Jansher is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Jansher is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Jansher is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Jansher is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Jansher is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Jansher is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Karbacher is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Karbacher is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Karbacher is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Karbacher is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Wbo is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Ibf is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Degryse is valid.
The Wikipedia link http://en.wikipedia.org/wiki/London-based is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Nld is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Nld is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Nld is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Nld is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Nld is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Nld is valid.
The Wikipedia link http://en.wikipedia.org/wiki/U.N._Interim_Force_in_Lebanon is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Interstates_80 is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Michael_DiVenuto is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Ny_Rangers is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Ny_Islanders is valid.
The Wikipedia link http://en.wikipedia.org/wiki/La_Lakers is valid.
The Wikipedia link http://en.wikipedia.org/wiki/La_Clippers is valid.
The Wikipedia link http://en.wikipedia.org/wiki/La_Lakers is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Ny_Jets is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Ny_Giants is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Ny_Giants is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Ny_Jets is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Konterman is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Stickroth is valid.
The Wikipedia link http://en.wikipedia.org/wiki/UEFA_Cups is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Udmr is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Udmr is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Cefta is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Nld is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Nld is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Icftu is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Icftu is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Icftu is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Icftu is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Fsa is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Nws is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Cbot is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Rtrs is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Langmore is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Langmore is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Jcpenney_Classic is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Pga is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Lpga is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Oestersund is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Paramygina is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Ekoku is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Michael_DiVenuto is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Michael_DiVenuto is valid.
The Wikipedia link http://en.wikipedia.org/wiki/La_Lakers is valid.
The Wikipedia link http://en.wikipedia.org/wiki/La_Clippers is valid.
The Wikipedia link http://en.wikipedia.org/wiki/La_Clippers is valid.
The Wikipedia link http://en.wikipedia.org/wiki/La_Lakers is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Ny_Rangers is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Ny_Islanders is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Ny_Islanders is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Ny_Rangers is valid.
The Wikipedia link http://en.wikipedia.org/wiki/Ny_Rangers is valid.

In [126]:
to_be_filled.wiki_url[to_be_filled.wiki_url.isna()] = correct_links
to_be_filled

/var/folders/kw/0j_qvnbn6rd90w1nywsjb2380000gn/T/ipykernel_11315/1913275737.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  to_be_filled.wiki_url[to_be_filled.wiki_url.isna()] = correct_links
/var/folders/kw/0j_qvnbn6rd90w1nywsjb2380000gn/T/ipykernel_11315/1913275737.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  to_be_filled.wiki_url[to_be_filled.wiki_url.isna()] = correct_links

,id,token,entity_tag,full_mention,wiki_url,lower_mention,title_mention
3,3,LEICESTERSHIRE,B,LEICESTERSHIRE,http://en.wikipedia.org/wiki/Leicestershire_Co...,leicestershire,http://en.wikipedia.org/wiki/Leicestershire
13,13,LONDON,B,LONDON,http://en.wikipedia.org/wiki/London,london,http://en.wikipedia.org/wiki/London
16,16,West,B,West Indian,http://en.wikipedia.org/wiki/West_Indian,west indian,http://en.wikipedia.org/wiki/West_Indian
19,19,Phil,B,Phil Simmons,http://en.wikipedia.org/wiki/Phil_Simmons,phil simmons,http://en.wikipedia.org/wiki/Phil_Simmons
28,28,Leicestershire,B,Leicestershire,http://en.wikipedia.org/wiki/Leicestershire_Co...,leicestershire,http://en.wikipedia.org/wiki/Leicestershire
...,...,...,...,...,...,...,...
104839,104839,England,B,England,http://en.wikipedia.org/wiki/England,england,http://en.wikipedia.org/wiki/England
104851,104851,Leeds,B,Leeds United,http://en.wikipedia.org/wiki/Leeds_United_F.C.,leeds united,http://en.wikipedia.org/wiki/Leeds_United
104858,104858,England,B,England,http://en.wikipedia.org/wiki/England,england,http://en.wikipedia.org/wiki/England
104877,104877,1966,B,1966 World Cup,http://en.wikipedia.org/wiki/1966_World_Cup,1966 world cup,http://en.wikipedia.org/wiki/1966_World_Cup
104887,104887,Bobby,B,Bobby,http://en.wikipedia.org/wiki/Bobby,bobby,http://en.wikipedia.org/wiki/Bobby

In [102]:
submission = merged_test[['id','wiki_url_y']]
submission.columns = ['id', 'wiki_url']
submission.wiki_url = submission.wiki_url.fillna('NOT_FOUND')
submission

            id                                           wiki_url
0            0                                          NOT_FOUND
1            1                                          NOT_FOUND
2            2                                          NOT_FOUND
3            3  http://en.wikipedia.org/wiki/Leicestershire_Co...
4            4                                          NOT_FOUND
...        ...                                                ...
104885  104885                                          NOT_FOUND
104886  104886                                          NOT_FOUND
104887  104887                                          NOT_FOUND
104888  104888                                          NOT_FOUND
104889  104889                                          NOT_FOUND

[104890 rows x 2 columns]

In [134]:
submission = test_docs[['id','wiki_url' ]]. merge(to_be_filled[['id','wiki_url' ]], on='id', how='left')[['id','wiki_url_y']]
submission.columns = ['id', 'wiki_url']
submission.wiki_url = submission.wiki_url.fillna('NOT_FOUND')
submission

            id                                           wiki_url
0            0                                          NOT_FOUND
1            1                                          NOT_FOUND
2            2                                          NOT_FOUND
3            3  http://en.wikipedia.org/wiki/Leicestershire_Co...
4            4                                          NOT_FOUND
...        ...                                                ...
104885  104885                                          NOT_FOUND
104886  104886                                          NOT_FOUND
104887  104887                                          NOT_FOUND
104888  104888                                          NOT_FOUND
104889  104889                                          NOT_FOUND

[104890 rows x 2 columns]

In [103]:
submission.to_csv('submission.csv', index=False)