In [4]:
import pandas as pd
from tqdm.auto import tqdm
import networkx as nx
import heapq
import random
import pickle

In [2]:
def get_connection(only_train = False):
    connection = pd.read_csv('statements.csv')
    if only_train:
        list_of_ids = pd.read_csv('train_wiki.csv') # obtain by running get_wiki.ipynb
        list_of_ids = list_of_ids.item_id.tolist()
        all_ids = set(connection['source_item_id'].unique()).union(set(connection['target_item_id'].unique()))

        filtered_ids = set(list_of_ids).intersection(all_ids)

        connection = connection[connection['source_item_id'].isin(filtered_ids) | connection['target_item_id'].isin(filtered_ids)]
    return connection

def add_edges(G,connection, progress= True):
    if progress:
        for source_item_id, _, target_item_id in tqdm(connection.iloc,total=len(connection)):
            G.add_edge(source_item_id, target_item_id)
    else:
        G = nx.from_pandas_edgelist(list_of_ids, 'source_item_id', 'target_item_id', create_using=nx.Graph)
    return G

In [ ]:
connection = get_connection()

In [ ]:
G = nx.Graph() # Undirected Graph  //// Use DiGraph for directed graph
G = add_edges(G, connection, progress = True) # progress = False is faster (use when submit)

In [ ]:
num_nodes = G.number_of_nodes()
num_edges = G.number_of_edges()

print(f"Number of nodes: {num_nodes}")
print(f"Number of edges: {num_edges}")

In [ ]:
import pickle
pickle_filename = "graph_undirected_full.pkl"

# save graph pickle to the file
with open(pickle_filename, 'wb') as pickle_file:
    pickle.dump(G, pickle_file)

In [5]:
import pickle

# Specify the filename for the pickle file
pickle_filename = "graph_undirected_full.pkl"

# Load the graph from the pickle file
with open(pickle_filename, 'rb') as pickle_file:
    G = pickle.load(pickle_file).to_undirected()

In [6]:
partial = pd.read_csv('submission_train_aliases_uncertain.csv')
testdf = pd.read_csv('test.csv')
testdf = testdf.merge(partial, on='id')
testdf

,id,token,entity_tag,full_mention,wiki_url_x,wiki_url_y
0,0,-DOCSTART- (947testa CRICKET),NaN,NaN,NaN,NOT_FOUND
1,1,CRICKET,NaN,NaN,NaN,NOT_FOUND
2,2,-,NaN,NaN,NaN,NOT_FOUND
3,3,LEICESTERSHIRE,B,LEICESTERSHIRE,?,http://en.wikipedia.org/wiki/Leicestershire_Co...
4,4,TAKE,NaN,NaN,NaN,NOT_FOUND
...,...,...,...,...,...,...
104885,104885,brother,NaN,NaN,NaN,NOT_FOUND
104886,104886,",",NaN,NaN,NaN,NOT_FOUND
104887,104887,Bobby,B,Bobby,?,http://en.wikipedia.org/wiki/Bobby_Timmons
104888,104888,.,NaN,NaN,NaN,NOT_FOUND
104889,104889,NaN,NaN,NaN,NaN,NOT_FOUND

In [8]:
redirect = pd.read_csv('enwiki_redirects.tsv', sep='\t', header=None)
temp = testdf[partial.wiki_url =="?"].merge(redirect, left_on='full_mention', right_on=0)[['id',1]]
temp

         id                                    1
0       795   Universities in the United Kingdom
1       975   Universities in the United Kingdom
2      4396                           David Barr
3      4402                     Michael Sullivan
4      4552  United States Amateur Championships
..      ...                                  ...
351  103998                    Predrag Mijatović
352  104041                    Predrag Mijatović
353  104124                            Mijatović
354  104310                        De Graafschap
355  104877                  1966 FIFA World Cup

[356 rows x 2 columns]

In [9]:
testdf = testdf.merge(temp, on='id', how='left')
testdf[1] = testdf.apply(lambda row: row.full_mention if pd.isna(row[1]) else row[1], axis=1)

testdf =  testdf.drop(columns=['wiki_url_x',  'full_mention'] )
testdf

,id,token,entity_tag,wiki_url_y,1
0,0,-DOCSTART- (947testa CRICKET),NaN,NOT_FOUND,NaN
1,1,CRICKET,NaN,NOT_FOUND,NaN
2,2,-,NaN,NOT_FOUND,NaN
3,3,LEICESTERSHIRE,B,http://en.wikipedia.org/wiki/Leicestershire_Co...,LEICESTERSHIRE
4,4,TAKE,NaN,NOT_FOUND,NaN
...,...,...,...,...,...
104885,104885,brother,NaN,NOT_FOUND,NaN
104886,104886,",",NaN,NOT_FOUND,NaN
104887,104887,Bobby,B,http://en.wikipedia.org/wiki/Bobby_Timmons,Bobby
104888,104888,.,NaN,NOT_FOUND,NaN
104889,104889,NaN,NaN,NOT_FOUND,NaN

In [10]:
wiki_item = pd.read_csv('wiki_items.csv')[['item_id', 'en_label','wikipedia_title']]
#wiki_item = wiki_item[wiki_item['item_id'].isin(filtered_ids)]

wiki_item['en_label'] = wiki_item['en_label'] + " " + wiki_item['wikipedia_title']
col_ = wiki_item.wikipedia_title.str.lower().str
wiki_item

,item_id,en_label,wikipedia_title
0,1,Universe Universe,Universe
1,2,Earth Earth,Earth
2,3,life Life,Life
3,4,death Death,Death
4,5,human Human,Human
...,...,...,...
5216231,77042017,HR 4523 HD 102365,HD 102365
5216232,77043280,Charlie Johnston Charlie Johnstone,Charlie Johnstone
5216233,77231860,Aldo Rossi Aldo Rossi (musician),Aldo Rossi (musician)
5216234,77240068,Ebenezer Baptist Church Ebenezer Baptist Church,Ebenezer Baptist Church
5216235,77242291,New Court New Court,New Court

In [11]:
testdf['wiki_title'] = testdf.wiki_url_y.str[29:].str.replace('_', ' ')
testdf = testdf.merge(wiki_item, left_on='wiki_title', right_on='wikipedia_title',how='left').drop(columns=['wikipedia_title','en_label', 'wiki_title'])
testdf

,id,token,entity_tag,wiki_url_y,1,item_id
0,0,-DOCSTART- (947testa CRICKET),NaN,NOT_FOUND,NaN,NaN
1,1,CRICKET,NaN,NOT_FOUND,NaN,NaN
2,2,-,NaN,NOT_FOUND,NaN,NaN
3,3,LEICESTERSHIRE,B,http://en.wikipedia.org/wiki/Leicestershire_Co...,LEICESTERSHIRE,3229147.0
4,4,TAKE,NaN,NOT_FOUND,NaN,NaN
...,...,...,...,...,...,...
104885,104885,brother,NaN,NOT_FOUND,NaN,NaN
104886,104886,",",NaN,NOT_FOUND,NaN,NaN
104887,104887,Bobby,B,http://en.wikipedia.org/wiki/Bobby_Timmons,Bobby,132341.0
104888,104888,.,NaN,NOT_FOUND,NaN,NaN
104889,104889,NaN,NaN,NOT_FOUND,NaN,NaN

In [39]:
def get_all_dist(filtered_ls, full_mention_train):
    distances = []
    for candidate, _,title in filtered_ls.iloc:
        distances.append((title,candidate, get_dist(full_mention_train, candidate)))
    return distances
    
def get_dist(certain_list, b, fill_na = 9999):
    distance_list = []
    subset_certain = list(certain_list)
    random.shuffle(subset_certain)
    subset_size = 10
    subset_certain = subset_certain[:subset_size]
    for a in subset_certain:
        try:
            shortest = nx.shortest_path_length(G, source=a, target=b)
            distance_list.append(shortest)
        except:
            distance_list.append(fill_na)
    return sum(distance_list)/subset_size if distance_list else fill_na

def get_info(current_document):
    if len(current_document):
        document_df = pd.DataFrame(current_document)
        full_mention_ = document_df[document_df['wiki_url'] != 'NOT_FOUND']
        found = full_mention_[full_mention_['wiki_url'] != '?']
        item_id_train = set(found.item_id.tolist()) 
        full_mention_found = dict(zip(found['full_mention'].str.lower(), found['wiki_url']))

        not_found = full_mention_[full_mention_['wiki_url'] == '?'].copy()
        not_found.full_mention = not_found.full_mention.str.lower()
        mention_test = set(not_found.full_mention.tolist())
        return found, not_found, item_id_train, full_mention_found, mention_test
    else:
        return None, None, None,None, None

id=1000
current_document = []
saved_candidates = {}

for index in tqdm(range(len(testdf)-1, -1, -1), desc="Processing", total=len(testdf)):
    row = testdf.iloc[index]
    current_document.append({
                    'id': row['id'],
                    'token': row['token'],
                    'full_mention': row[1],
                    'wiki_url': row['wiki_url_y'], 
                    'item_id': row['item_id']
                })
    
    try:
        if row['token'].startswith('-DOCSTART-'):        
            document_df = pd.DataFrame(current_document)
            current_document = []

            full_mention_ = document_df[document_df['wiki_url'] != 'NOT_FOUND']
            found = full_mention_[full_mention_['wiki_url'] != '?']
            item_id_train = set(found.item_id.tolist()) 
            full_mention_found = dict(zip(found['full_mention'].str.lower(), found['wiki_url']))

            not_found = full_mention_[full_mention_['wiki_url'] == '?'].copy()
            not_found.full_mention = not_found.full_mention.str.lower()
            mention_test = set(not_found.full_mention.tolist())

            old_size = 1000000
            new_size = len(mention_test)
            correct_links = []
            for tries in range(3):
                if new_size < old_size:
                    random_order = list(mention_test)
                    random.shuffle(random_order)
                    
                    for uncertain_word in (random_order):
                        correct_link = None
                        matching_urls = set([url for mention,url in full_mention_found.items() if uncertain_word in mention])
                        if len(matching_urls)==1: #if uncertain_word is a part of the correct entity
                            full_mention_found[uncertain_word] = list(matching_urls)[0]
                        elif len(matching_urls)>1:
                            print(uncertain_word, "seems to belong to", matching_urls)
                        else:
                            filtered_ls = wiki_item.loc[col_.contains(r'\b{}\b'.format(uncertain_word), na=False)] if uncertain_word not in saved_candidates.keys() else saved_candidates[uncertain_word]
                            saved_candidates[uncertain_word] = filtered_ls
                            no_candidates = len(filtered_ls)
                            if not no_candidates:
                                print("No match for", uncertain_word)
                            elif no_candidates == 1:
                                full_mention_found[uncertain_word] = 'http://en.wikipedia.org/wiki/' + filtered_ls.wikipedia_title.tolist()[0].replace(' ','_')
                                item_id_train.add(filtered_ls.item_id.tolist()[0]) 
                            elif no_candidates <  50:
                                distances = get_all_dist(filtered_ls, item_id_train)
                                if len(distances) > 1:
                                    first_candidate, second_candidate = heapq.nsmallest(2, distances, key=lambda x: x[-1])
                                    if first_candidate[-1] < second_candidate[-1]:
                                        title, choice,_ = first_candidate
                                        full_mention_found[uncertain_word] = 'http://en.wikipedia.org/wiki/' +title.replace(' ','_')
                                        item_id_train.add(choice)
                                    else:
                                        print("can not decicide between", first_candidate, "and", second_candidate)
                                else:
                                    title, choice,_ = distances[0]
                                    full_mention_found[uncertain_word] = 'http://en.wikipedia.org/wiki/' +title.replace(' ','_')
                                    item_id_train.add(choice)

                            else: 
                                print(uncertain_word, "has too much candidates", no_candidates)
                    old_size = len(mention_test)
                    mention_test.difference_update(full_mention_found.keys())
                    new_size = len(mention_test)
            if len(not_found):
                not_found.wiki_url = not_found.full_mention.map(full_mention_found)
                not_found.to_csv(f'corrected/{id}.csv', index=False)
                id +=1    
    except Exception as e:
        pass

Processing:   0%|          | 0/104890 [00:00<?, ?it/s]

can not decicide between ('2015–16 Rayo Vallecano season', 20921826, 1.9) and ('2018–19 Rayo Vallecano season', 59655144, 1.9)
oviedo has too much candidates 87
zaragoza has too much candidates 128
can not decicide between ('Extremadura UD', 994224, 2.0) and ('Canal Extremadura Televisión', 2935928, 2.0)
can not decicide between ('Real Sociedad B', 1067750, 1.9) and ('1981–82 Real Sociedad season', 4580229, 1.9)
tenerife has too much candidates 101
can not decicide between ('Racing de Santander', 12236, 2.0) and ('2007–08 Racing de Santander season', 16824433, 2.0)
can not decicide between ('Real Sociedad Gimnástica Española', 2479165, 2.0) and ('2009–10 Real Sociedad season', 4616132, 2.0)
zaragoza has too much candidates 128
can not decicide between ('2012–13 Rayo Vallecano season', 4628582, 1.9) and ('2014–15 Rayo Vallecano season', 17515428, 1.9)
oviedo has too much candidates 87
tenerife has too much candidates 101
tenerife has too much candidates 101
oviedo has too much candidates 87
can not decicide between ('Real Sociedad Femenino', 5549552, 1.9) and ('1928–29 Real Sociedad season', 16822459, 1.9)
zaragoza has too much candidates 128
can not decicide between ('Rayo Vallecano', 10300, 2.0) and ('2000–01 Rayo Vallecano season', 16824003, 2.0)
tenerife has too much candidates 101
tenerife has too much candidates 101
can not decicide between ('Dubravka Mijatović', 1562932, 2.7) and ('Čedomilj Mijatović', 8079697, 2.7)
schulz has too much candidates 169
national hockey league has too much candidates 89
canucks has too much candidates 69
can not decicide between ('Candace Cameron Bure', 235694, 2000.6) and ('Valeri Bure', 945734, 2000.6)
vancouver canucks has too much candidates 58
buffalo sabres has too much candidates 59
vancouver canucks has too much candidates 58
canucks has too much candidates 69
national hockey league has too much candidates 89
buffalo sabres has too much candidates 59
canucks has too much candidates 69
vancouver canucks has too much candidates 58
buffalo sabres has too much candidates 59
national hockey league has too much candidates 89
No match for ny rangers
national hockey league has too much candidates 89
edmonton has too much candidates 878
can not decicide between ('Carnegie Library (Anaheim, California)', 5043915, 1002.0) and ("St. Michael's Episcopal Church (Anaheim, California)", 7590691, 1002.0)
edmonton has too much candidates 878
No match for ny rangers
No match for ny islanders
tampa bay has too much candidates 215
national hockey league has too much candidates 89
anaheim has too much candidates 94
golden state has too much candidates 83
sacramento has too much candidates 436
golden state has too much candidates 83
sacramento has too much candidates 436
afc asian cup has too much candidates 124
asian cup has too much candidates 171
asian cup has too much candidates 171
afc asian cup has too much candidates 124
No match for hapoel be'er sheva f.c.
can not decicide between ('Maccabi Tel Aviv F.C.', 223728, 1.9) and ('Maccabi Tel Aviv B.C.', 819694, 1.9)
No match for hapoel tzafririm holon f.c.
can not decicide between ('Maccabi Tel Aviv F.C.', 223728, 1.9) and ('Maccabi Tel Aviv B.C.', 819694, 1.9)
No match for hapoel tzafririm holon f.c.
No match for hapoel be'er sheva f.c.
koreans has too much candidates 51
afc asian cup has too much candidates 124
koreans has too much candidates 51
afc asian cup has too much candidates 124
sheffield shield has too much candidates 118
can not decicide between ('Bellerive Oval', 1134044, 1.1) and ('List of international cricket centuries at Bellerive Oval', 6624173, 1.1)
can not decicide between ('David Boon', 3017555, 1.1) and ('List of international cricket centuries by David Boon', 15131826, 1.1)
No match for michael divenuto
can not decicide between ('Bellerive Oval', 1134044, 1.1) and ('List of international cricket centuries at Bellerive Oval', 6624173, 1.1)
sheffield shield has too much candidates 118
can not decicide between ('David Boon', 3017555, 1.1) and ('List of international cricket centuries by David Boon', 15131826, 1.1)
No match for michael divenuto
sheffield shield has too much candidates 118
No match for michael divenuto
can not decicide between ('David Boon', 3017555, 1001.5) and ('List of international cricket centuries by David Boon', 15131826, 1001.5)
can not decicide between ('Shane Warne', 555240, 1001.5) and ('List of international cricket five-wicket hauls by Shane Warne', 6624258, 1001.5)
can not decicide between ('Bellerive Oval', 1134044, 1001.7) and ('List of international cricket centuries at Bellerive Oval', 6624173, 1001.7)
sheffield shield has too much candidates 118
can not decicide between ('David Boon', 3017555, 1001.7) and ('List of international cricket centuries by David Boon', 15131826, 1001.7)
No match for michael divenuto
can not decicide between ('Bellerive Oval', 1134044, 1001.7) and ('List of international cricket centuries at Bellerive Oval', 6624173, 1001.7)
can not decicide between ('Shane Warne', 555240, 1001.7) and ('List of international cricket five-wicket hauls by Shane Warne', 6624258, 1001.7)
No match for n.ireland
No match for n.ireland
premier league has too much candidates 1639
can not decicide between ('Hednesford Town F.C.', 18293, 2.0) and ('Hednesford', 2132464, 2.0)
can not decicide between ('Woking F.C.', 18528, 2.0) and ('Woking', 646225, 2.0)
fa cup has too much candidates 601
fa cup has too much candidates 601
premier league has too much candidates 1639
can not decicide between ('Woking F.C.', 18528, 2.0) and ('Woking', 646225, 2.0)
can not decicide between ('Hednesford railway station', 2128872, 2.0) and ('Hednesford', 2132464, 2.0)
No match for inverness thistle f.c.
can not decicide between ('Hawick RFC', 930661, 2.0) and ('Hawick Burghs (UK Parliament constituency)', 5684762, 2.0)
can not decicide between ('Huntly railway station', 2432464, 2.0) and ('Granville Gordon, 13th Marquess of Huntly', 5596900, 2.0)
No match for elgin city f.c.
can not decicide between ('Hawick', 407183, 2.0) and ('Hawick RFC', 930661, 2.0)
No match for inverness thistle f.c.
No match for elgin city f.c.
can not decicide between ('Marquess of Huntly', 495961, 2.0) and ('Huntly', 1016931, 2.0)
premier league has too much candidates 1639
No match for inverness thistle f.c.
can not decicide between ('Andy Sinton', 527691, 2.0) and ('Leigh Sinton', 6519675, 2.0)
whelan has too much candidates 132
holdsworth has too much candidates 50
whelan has too much candidates 132
holdsworth has too much candidates 50
holdsworth has too much candidates 50
whelan has too much candidates 132
can not decicide between ('Saracen Cycles', 7421948, 2.7) and ('HMS Saracen (1831)', 55613225, 2.7)
can not decicide between ('Saracen Cycles', 7421948, 2.7) and ('HMS Saracen (1831)', 55613225, 2.7)
can not decicide between ('Guy Rowson', 5622570, 2.1) and ('Penny Rowson', 19661837, 2.1)

KeyboardInterrupt:

In [ ]:
partial = pd.read_csv('submission_train_aliases_uncertain.csv')
testdf = pd.read_csv('test.csv')[['id', 'token', 'full_mention']]
testdf = testdf.merge(partial, on='id')
testdf

In [ ]:
corrected_df = pd.DataFrame()
counter = 0
for i in range (100000):
    try:
        corrected_df = pd.concat([corrected_df, pd.read_csv(f'corrected/{i}.csv')[['id','wiki_url']]], ignore_index=True)
        counter += 1
    except Exception as e:
        pass
corrected_df = corrected_df.drop_duplicates('id')
counter

In [ ]:
merged_df = pd.merge(testdf, corrected_df, on='id', how='left', suffixes=('_original', '_update'))

merged_df['wiki_url'] = merged_df['wiki_url_update'].combine_first(merged_df['wiki_url_original'])

merged_df = merged_df.drop(['wiki_url_original', 'wiki_url_update'], axis=1)
print(len(merged_df[merged_df.wiki_url=='?']))
merged_df.loc[merged_df['wiki_url'] == '?', 'wiki_url'] = 'NOT_FOUND'
merged_df

In [ ]:
merged_df[['id', 'wiki_url']].to_csv('submission.csv', index=False)